[2013-03-12 18:39] reubenhwk opened #4 "setup_linklocal_addr can be improved"
[code]

This function opens a file, PATH_PROC_NET_IF_INET6, reading each line until it collects the link local and interface index for the interface.  There must be a direct way to do this...

[2013-03-12 18:46] reubenhwk opened #5 "get_v4addr"
get_v4addr is likely not going to be needed in v2.0.  Check to see if it's being used and remove it if it isn't.

[2013-03-13 01:20] #5 closed, assigned to reubenhwk

[2013-03-15 15:08] reubenhwk opened #7 "clean up sysctl"
sysctl has fallen out of favor and will likely be removed.  /proc/sys is the new sysctl and sysctl may be implemented using /proc/sys anyway.

[2013-03-19 06:31] reubenhwk opened #8 "malloc checking"
review the code around memory allocation to ensure error checking

[2013-04-07 01:24] #4 closed, assigned to reubenhwk

[2013-04-07 01:25] #7 closed, assigned to reubenhwk

[2013-04-07 01:29] #8 closed, assigned to reubenhwk

[2013-05-12 19:14] bernhardschmidt opened #9 "radvd sends old MAC address in LL option when MAC changes"
Originally reported to Debian at http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=508466

Interfaces can occasionally change MAC addresses in-flght. The most common example are Linux bridges, that are created using a random MAC and then change the MAC address to the first interface added to the bridge.

If radvd is started before the first interface is added, it learns the old MAC address of the b

[2013-12-09 21:59] reubenhwk opened #12 "poll not safe, use ppoll"
Using poll, or select, and signals is a race condition.  Use ppoll, or pselect, and set the signal mask.

[2013-12-09 22:01] reubenhwk opened #13 "linear search for next interface to expire"
Could use a priority queue for better efficiency.

[2013-12-09 22:03] reubenhwk opened #14 "linear search for interface by index in process.c"
When we get a message on an interface, we search for it linearly by index.  This seems like a good candidate for a hash table for better efficiency.  Other options are storing the interface list in a sorted array and binary searching.

[2013-12-20 09:35] pavlix opened #15 "-Wno-strict-aliasing hides an error, -fno-strict-aliasing must be used instead"
It's important to tell the compiler not to assume strict aliasing rules instead of just not printing out the warning.

Downstream bug report:

https://bugzilla.redhat.com/show_bug.cgi?id=1045179

More information on -Wno-strict-aliasing and -fno-strict-aliasing

http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=487310

http://ubuntuforums.org/showthread.php?t=1300782

[2014-01-06 16:32] #15 closed, assigned to reubenhwk

[2014-02-02 13:17] #14 closed, assigned to reubenhwk

[2014-03-01 12:46] reubenhwk opened #20 "create a testing system"
radvd is mostly untested.  Flesh out automake's make check facility.

[2014-03-01 12:47] reubenhwk opened #21 "create a code coverage website"
once the testing feature is completed, use it to create a gcov/lcov website.

[2014-03-01 12:54] reubenhwk opened #22 "generate baked packets"
send.c generates the same packets every time.  Experiment with generating the packet after the config file is parsed so the memory can just be passed directly to sendmsg each time.

[2014-03-05 04:02] reubenhwk opened #23 "send_ra_inc_len"
send_ra_inc_len is easy to use improperly.  It should be called before writing any data to the out buffer, but there's no way to enforce that.

Come up with a new interface to build the packets which is hard to use incorrectly.  Maybe something like this...

p = new_packet();
push_back(p, uint8, value);

[2014-03-05 21:03] #12 closed, assigned to reubenhwk

[2014-03-10 00:36] reubenhwk opened #24 "radvd.d conf directory"
It would be nice to split all the interface configs up into individual tiles in a conf directory like this...

/etc/radvd.d/eth0

...so when a single interface changes, there's no need to reload the whole config file.

[2014-04-01 09:44] petrus-lt opened #25 "radvd sends out RAs to wrong interface"
I'm using radvd on an openvpn tap interface. When the vpn server is restarted, the tap interface goes down and up, and radvd starts advertising on the lan interface:

[code]

tcpdump -i eth0 confirms this:

[code]

The radvd config contains only the openvpn interface:

[code]

The monitoring confirms that the issue appeared at the exact moment when the vpn server was restarted.

My openvpn config

[2014-04-07 14:20] ghost opened #26 "radvd"
i keep getting these error messages when running radvd 1.10.0 on my dd-wrt router..
![image](https://cloud.githubusercontent.com/assets/3003530/2631926/2563de54-be5f-11e3-908a-dadf8dfe68b6.jpg)

can u tell me why? radvd is still working fine..

[2014-04-10 06:17] #26 closed, assigned to nobody

[2014-04-10 06:20] #9 closed, assigned to nobody

[2014-06-06 23:47] seblu opened #28 "1.12 release tarball disappear from website"
Hello,

I got the following bug report https://bugs.archlinux.org/task/40724, because the 1.12 tarball is no more available at your website : http://www.litech.org/radvd/dist/radvd-1.12.tar.xz

Regards,

[2014-06-07 00:23] #28 closed, assigned to nobody

[2014-06-28 10:03] #24 closed, assigned to reubenhwk

[2014-06-28 10:03] #23 closed, assigned to reubenhwk

[2014-06-28 10:03] #22 closed, assigned to reubenhwk

[2014-07-11 03:42] #20 closed, assigned to reubenhwk

[2014-07-17 09:37] pavlix opened #29 "radvd 2.0 with byacc fails make"
Hi,

apparently radvd's configure script accepts both bison and byacc but doesn't build with byacc because of wrong command-line arguments. In my opinion, if bison is a hard dependency, the configure script should catch its absence, not make.

Cheers,

Pavel

[2014-07-17 09:44] pavlix opened #30 "radvd 2.0 make check fails"
Hi,

radvd 2.0 apparently doesn't distribute all files necessary to perform 'make check' using the source tarball.

See:

https://kojipkgs.fedoraproject.org//work/tasks/6188/7156188/build.log

[2014-07-17 15:25] #30 closed, assigned to nobody

[2014-07-21 07:40] #29 closed, assigned to nobody

[2014-07-28 00:17] abelbeck opened #31 "[patch] 2.1 startup with link down does not work when link goes up later"
@reubenhwk  Hi Rueben,

I'm a developer on AstLinux and we have been using 1.9.x for some time and figured now is a good time to move to 2.1 .

In my testing if radvd 2.1 is started with a configured interface not connected (link down), using...

[code]

when the link goes up, that interface does not work until radvd is restarted. I'm using Linux.

Enclosed is a patch that appears to fix the probl

[2014-07-28 13:45] seblu opened #32 "No more gw since upgrade to radvd 2.1"
Hello,

During the test to push radvd 2.1 on archlinux, I discovered that my hosts have loosed their ipv6 gateway since the upgrade from 1.4[1] to 2.1[2].

I'm using the following config file

[code]

I have the following output from systemd when I run radvd 1.4

[code]

This is a tcpdump output from a linux guest when radvd 2.1 is running on the network.

[code]

This is a tcpdump output from a l

[2014-07-29 00:38] #31 closed, assigned to nobody

[2014-07-31 19:08] github-k8n opened #33 "radvd not working on bridge interface"
I have an issue with radvd 2.4 (and 2.3, did not test it with earlier 2.x builds yet) on Gentoo that it will not work on a bridge interface, however version 1.15 will work just fine.

[code]

However the interface is ready and working.
ip addr show
gives this (replaced some part of the IPv6 addr..)

[code]

my /etc/radvd.conf

[code]

[2014-08-02 19:31] reubenhwk opened #34 "reset interface values on exit"
A number of changes are possibly made to an interface by radvd and radvd doesn't restore those values when it exits.

Add some values to the iface structure to save the original values set on the iface and restore those values on exit.

One example value is set in privsep_set_autoconfig.

[2014-08-05 20:34] #33 closed, assigned to nobody

[2014-09-30 20:03] mikken opened #35 "autoconf knob is reset to 0 when radvd starts"
I have 2 radvds on my home network.
One is DD-WRT with old kernel and it provides the default route.
The other is my desktop computer (kernel 3.16.3, radvd 2.5) and it provides a different /64 route (for a network of virtual machines)

The second host has to accept RA (IP address and default route) in routing mode so I wrote "2" into /proc/sys/net/ipv6/conf/br0/accept_ra (br0 is the LAN interface)

[2014-10-06 12:44] #35 closed, assigned to nobody

[2014-10-06 12:45] #32 closed, assigned to nobody

[2014-10-06 12:46] #34 closed, assigned to reubenhwk

[2014-11-16 14:02] mhanor opened #36 "crash with DeprecatePrefix or DecrementLifetimes"
radvd crashes when a prefix is removed from the interface that's being monitored by radvd or when radvd starts and the interface doesn't have an assigned prefix. The issue affects all versions of radvd, 1.x and 2.x. It has been reported on [Debian's bug tracker](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=716831)

I can reproduce the crash with the latest radvd version, build by me from the

[2014-11-27 08:54] #21 closed, assigned to reubenhwk

[2014-11-27 09:07] reubenhwk opened #38 "don't close config file pointer"
The config file doesn't change name from start to finish, but the permissions and uid of radvd can.  Open the config file, but never close it.  Test changing the file, and re-reading it.  Test changing permissions in an insecure way and make sure radvd fails and exits.

On my system, radvd frequently dies because of broken default permissions.

Nov 05 08:02:19 netz UNKNOWN[27217]: attempting to re

[2014-11-27 09:28] reubenhwk opened #39 "separate config file prefix list from advert prefix list"
The way RADVD works now, all the prefixes that can be sent are generated from the config file parser when the config file is parsed.  This is a problem with some type of automatic prefix is selected, ::/64, Base6Interface, Base6to4Interface.

The problem is when that interface comes up, radvd doesn't know to check new prefixes on that interface unless it reparses the config file.

What need to be

[2014-11-27 09:30] #36 closed, assigned to nobody

[2015-05-14 07:46] ruben-herold opened #45 "Please add the posibility to configure the router ip that is advertise"
hi,

would it possible to add support for configuring a ipv6 ip which is advertised as router by the radvd service? This would it make possible to run radvd on system in the network if you have an device as gateway which don't support router advertisment.

Also if you run vrrp like keepalived for router redundancy on your connection tracking firewalls, it would be very helpfull only advertise only

[2015-05-14 16:17] reubenhwk commented on #45
Hi Ruben,

I'm having a difficult time understanding your question, but I'll try to
answer the question I think you're asking...

Yes, any system on a network can run RADVD and advertise the IPv6 network
prefix.  That system does not need to be the router or gateway.

I don't know how RADVD is related to VRRP and connection tracking.  Can you
elaborate?

On Thu, May 14, 2015 at 12:46 AM, Ruben Her

[2015-05-18 16:00] ruben-herold commented on #45
hi,

I have attached a graph about the setup:
![ravd](https://cloud.githubusercontent.com/assets/1569572/7684533/15f7e8c6-fd87-11e4-828f-053034a1ff64.png)

As you can see the IP 2001:DB8::1/64 is moved via VRRP between the two firewalls.
If I install radvd on both firewalls, the anounce both their link local adresses as gateway
and I have an async. routing so that connection tracking will fail.

F

[2015-05-20 18:36] ruben-herold commented on #45
If take a look around how other platforms handle this issue:

Junos:

[edit protocols router-advertisement interface ge-0/0/1.0]
router# set ?
Possible completions:
  [...]
  virtual-router-only  Send advertisemnets only for vrrp-inet6-group
[edit protocols router-advertisement interface ge-0/0/1.0]

[2015-05-21 13:57] reubenhwk commented on #45
Is there an RFC which defines this feature?

On Wed, May 20, 2015 at 11:36 AM, Ruben Herold <notifications@github.com>
wrote:

[2015-05-21 22:20] ruben-herold commented on #45
I don't think. There are RFC for VRRP (RFC 5798) but not for this special situation. Most vendors have integrated it like juniper.  You can also take a look at:

https://www.ietf.org/mail-archive/web/vrrp/current/msg00764.html

The linux VRRP Implementation (keepalived) can't do router advertisment, so the users must use keepalived together with radvd to get router advertisments.

[2015-06-02 20:42] ruben-herold commented on #45
Do you need any further informations?

[2015-06-02 22:10] reubenhwk commented on #45
No.  Unfortunately I don't have time to do this.  I'll be happy to commit
source code if you can fork radvd and make the changes.

On Tue, Jun 2, 2015 at 1:42 PM, Ruben Herold <notifications@github.com>
wrote:

[2015-06-03 09:07] ruben-herold commented on #45
I will try to read through the source, but my C knowledge is very low. But if I see it the right way:

a) config option for each prefix which router should be announced
b) if config option is set send ra packet with this src ip6

[2015-06-03 16:32] reubenhwk commented on #45
On Wed, Jun 3, 2015 at 2:08 AM, Ruben Herold <notifications@github.com>
wrote:

See in gram.y 'prefixparms'.  I think what you'll need to do is add a
section under prefixparms...something like this...

| T_MyNewOption IPV6ADDR
{
    ...new code...
}

You'll need to add a '%token T_MyNewOption', then you'll have to add your
option to scanner.l.  Something like this...

MyNewOption { return T_MyNewO

[2015-06-03 16:33] reubenhwk commented on #45
Also, there's an option to run radvd and only check the syntax of the
config file.  Use the -C and -c flags to test your code.

On Wed, Jun 3, 2015 at 9:32 AM, Reuben Hawkins <reubenhwk@gmail.com> wrote:

[2015-10-08 16:58] ivilata opened #46 "No RAs on dummy device with "::/64""
Hi, I have a Debian Sid setup with a dummy interface which is manually configured with a deprecated, fixed address before radvd is started, so that the daemon can use a `::/64` prefix and announce on that interface.  Autoconfiguration is then used in the interface to get temporary privacy addresses.  This is the relevant stanza in `/etc/network/interfaces`:

[code]

And this is the full `/etc/radv

[2015-10-08 17:01] ivilata commented on #46
BTW, I see an entry in the changelog:

    2014/05/30	add disable_ipv6_autoconfig function so an interface radvd
                		is using won't autoconfig itself using its own advert

I found no such function in the current code, maybe it was removed or somehow rewritten later.

[2015-10-08 17:09] reubenhwk commented on #46
I'm not sure.  I'll look into it when I get a chance.

On Thu, Oct 8, 2015 at 10:01 AM, ivilata <notifications@github.com> wrote:

[2015-10-17 00:23] miguelxpn opened #47 "Router Advertisement being received by the wrong interface"
Hello. I have the following radvd.conf file:

[code]

The idea is to have a eth0 interface facing an internal network and a tap interface which will have people connected from VPNs. On the eth0 interface I want to advertise routes so everyone in the internal network can see the VPN clients, the problem is that the eth0 advertisement gets picked up by other interfaces such as eth1 and that messes u

[2015-10-17 03:42] reubenhwk commented on #47
Is radvd running on the system doing the routing?  Try disabling
autoconfiguration on your router.

Auto configuration can be disabled temporary for eth1 with:

sudo sysctl -w net.ipv6.conf.eth1.autoconf=0
sudo sysctl -w net.ipv6.conf.eth1.accept_ra=0

or for all interfaces with:

sudo sysctl -w net.ipv6.conf.all.autoconf=0
sudo sysctl -w net.ipv6.conf.all.accept_ra=0

On Fri, Oct 16, 2015 at 5:23

[2015-10-19 18:22] miguelxpn commented on #47
Yes! The system doing the routing is running radvd,

I tried disabling the auto configuration for eth1 and indeed that made it so the RA is ignored and the routing works, however I still don't understand why the RA was being picked up by eth1 in the first place.

Thank you again.

[2015-10-19 19:46] reubenhwk commented on #47
I don't either.  Can you post the logs?

On Mon, Oct 19, 2015 at 11:22 AM, Miguel Xavier Penha Neto <
notifications@github.com> wrote:

[2015-10-20 19:10] miguelxpn commented on #47
Sure, here they are:

https://gist.github.com/miguelxpn/046d7e893b2870ddc162

[2015-10-21 19:51] reubenhwk commented on #47
The lines in the log...

"received packet from unknown interface: 3"

...is almost definitely eth1.  Radvd says "unknown" because eth1 isn't in
the config file (logging could be improved to get the name when it's
unknown using if_indextoname).

The data structure that if_index, 3, comes from is recvmsg in recv_rs_ra.
That's a systemcall, so the OS really does think that eth1 is getting an RA.

I'm

[2015-11-20 17:31] miguelxpn commented on #47
There were was another radvd running on the network but it's advertising a completely different prefix that doesn't affect the one I was trying to set up, curiously enough the same thing happened to that RA, it also was received by both interfaces.

Sadly I don't have access to that environment any more so I can't do more experimenting on it, I'll close this as disabling the auto configuration on

[2015-11-20 17:31] #47 closed

[2015-11-27 16:32] mcr opened #49 "why does ABRO option have a prefix length?"
At the ETSI (IETF94-colocated) plugfest, I was  trying to get ABROs emitted at the 6lo plugfest that can be consumed by RIOT-OS. (which we were able to do).  It worked, btw.

The config I was using looked like:

    abro fe80::216:3ead:fd4:1165/64 {
          AdvVersionLow 10;
          AdvVersionHigh 2;
          AdvValidLifeTime 2;
    };

The IP address part is copied into the ABRO block, but w

[2015-11-28 05:25] reubenhwk commented on #49
Hmmmm...  After digging into the code and the RFC a bit, looks like the
prefix-length isn't really needed there.  The ABRO option is just a single
IPv6 address right?

I think it would be a fairly simple change, but we can't break backward
compatibility with existing configurations..

In gram.y, this line would have to be updated to include a 2nd rule
somehow...

abrohead : T_ABRO IPV6ADDR '/' NUM

[2015-11-30 12:19] alexaring opened #50 "Replace ARPHRD_IEEE802154 to ARPHRD_6LOWPAN"
Hi,

in the early days of 6lowpan support, there was 802.15.4 6LoWPAN only.
It is still in an experimental state, but was completely unusable in these days.
We changed now the ARPHRD from ARPHRD_IEEE802154 to ARPHRD_6LOWPAN.
Because it was in a very poor state when it was ARPHRD_IEEE802154, I am fine when it will be replaced by ARPHRD_6LOWPAN. I highly not recommend kernel versions which has still

[2015-11-30 16:14] reubenhwk commented on #49
I pushed a change to the master branch which deprecates the prefix length on ABRO.  Please give it a try and let me know if it's working as you expect.

[2015-12-02 09:00] reubenhwk commented on #50
Please submit a patch.

On Mon, Nov 30, 2015 at 4:19 AM, Alexander Aring <notifications@github.com>
wrote:

[2015-12-20 05:31] shallpion opened #51 "Why is radvd sending RA every second?"
Hi, I encountered a weird problem about my radvd-2.11 on a linux box being used as a router. It has two interfaces,enp4s0 is used as WAN and receives pd from my ISP and radvd runs on enp6s0 (LAN).
[code]
The following is my radvd.conf
[code]
However tcpdump on enp6s0 shows that it is sending ra every second despite of this config:
[code]

[2015-12-20 06:27] shallpion commented on #51
After further investigation, it appears that radvd "reloads" itself every second after perhaps 3 or 4 seconds since it is loaded. I did the following test:
[code]
Please notice what happened at 01:14:26. As a reference, I set MinRtrAdvInterval to be 3 and MaxRtrAdvInterval to be 4 and did another tcpdump, and here is the result:
[code]
Again, please notice that before 01:14:31 radvd correctly foll

[2015-12-20 10:28] shallpion commented on #51
After comparing it with some earlier version, it appears this issue was introduced in 2.9, possibly related to volker's patch about "Recognize new interfaces coming up and react immediately". I am using debian stretch with dhcpcd 6.9.3, not sure if the latter is responsible though.

[2015-12-20 16:44] reubenhwk commented on #51
Hi,

Thanks for the report.  This is a touchy bit of code in netlink.c (I think,
I'm not looking at the code right now).  RADVD listens on a netlink socket
for messages from the kernel about new interfaces coming up and going
down.  The idea is that when a network cable is plugged in, RADVD needs to
start sending adverts on it right away.

If you're not plugging and unplugging your network cable e

[2015-12-21 02:35] shallpion commented on #51
Hi, thank you so much for your prompt reply. I am not sure if I understood correctly as I have very little programming experience, but the followings are my further investigations of this issue, hopefully they help more or less.

By the way, to isolate the issue, I also tried using wide-dhcpv6-client to ask pd from my ISP (I reboot my computer every time I try something new for caution) but the pr

[2015-12-21 02:51] shallpion commented on #51
I forgot to paste the debug output in /var/log/syslog using debug level 5 for a typical run. As you suggested that this part does look like the cause of the "1 second timeout being stuck" and also sounds similar to what you have suggested, netlink reconfigures itself causing it falling into a loop:

[code]
Neither the ip of my LAN port on the router or my client IP on desktop was changed due to RA

[2015-12-21 03:30] shallpion commented on #51
Okay I was being stupid, in case my interface "resets" itself, it makes perfect sense it will still receive the same IP address. So I did an ip monitoring and exactly as you suggested:
[code]
The first event is caused by radvd's initial launch, it then waited for 10 seconds and reset itself over and over again each second afterwards, causing the issue.

[2015-12-21 23:09] shallpion commented on #51
I just tried arch linux with full systemd support and the problem is gone, so it must have been debian's way to handle network interface event (stretch now uses a hybrid init system). Probably it will be resolved after its full transition to systemd. Thank you again for the suggestions. I will mark this issue as closed as this is an os-specific issue and I will try to talk to debian's maillist. Th

[2015-12-21 23:09] #51 closed

[2016-01-01 15:46] 0xbabaf00l commented on #45
Hi,

any progress on that issue?

We ran into the same problem.
Currently, I added a script to start radvd when VRRP is in master state and stop radvd when in BACKUP or FAIL. So I to have radvd running only on the active firewall.
This is not perfect, because the client has to learn its new default router on failover and so it does take several seconds.

[2016-01-05 09:01] dcb314 opened #52 "process.c:373: bad way to test for overflow ?"
[process.c:373]: (warning) Invalid test for overflow 'label_len>label_len+2'. Condition is always false unless there is overflow, and overflow is Undefined Behaviour.

Source code is

 label_len > label_len + 2

Suggest cast out to larger integer type, then compare.

[2016-01-07 12:41] cm-rudolph commented on #51
I'm encountering the same phenomenon.
It is the `RTM_NEWADDR` message that gets sent all the time. Setting `net.ipv6.conf.ethX.accept_ra` to `0` seems to have fixed the problem, `ethX` being the interface on which radvd sends announcements. Maybe I'll post further insight in a while.

[2016-01-07 19:18] cm-rudolph opened #53 "radvd doesn't announce prefix added at runtime"
radvd recognizes (and immediately sends out an advertisement) a new prefix that gets configured on an interface. But when using the special configuration prefix `::/64`, it still announces the prefixes that were present when starting radvd.
Sending a `SIGHUP` causes to reread the configuration. After that the new prefix gets announced, too.

It seems that deleting an address doesn't remove it from

[2016-01-07 21:00] reubenhwk commented on #53
Using the latest version?

Sent from my iPhone

[2016-01-08 09:44] cm-rudolph commented on #53
Snapshot ;-)

[2016-01-08 10:32] cm-rudolph commented on #53
Some debug output (I added the `received message of type %d" debug output to see which rtnetlink messages get processed by radvd):

At startup `eth0` has a link-local and the IP address `2001:db8:ef10:30fc::1/64`.
radvdump outputs (shortened, parameters stripped, link-local prefix removed):

    interface eth1
    {
            prefix 2001:db8:ef10:30fc::/64
            {
            };
    };

Th

[2016-01-08 11:02] mhanor commented on #53
See the issue #39

[2016-02-02 07:07] reubenhwk commented on #52
<pre>
-                                           label_len > label_len + 2
+                                           label_len >= (INT_MAX-1)
</pre>

Is this better?  Please check the math.  I'll commit this in the next day or so if I don't hear back from you.

[2016-02-02 07:08] #52 closed

[2016-02-02 07:09] #49 closed

[2016-02-12 10:35] wodry opened #54 "Using prefix ::/64 together with Base6Interface does not work"
Version:
radvd 2.10

I have a "WAN" interface (eth1), which gets 64-Bit-prefix IPv6 address via RA from telecom provider. I want to announce the 64-Bit-prefix of this "WAN" IPv6 address on my "LAN" interface (br0), since I do want to have my linux box between, since I do not trust the telecom router and want to have full control over my "LAN" network.

So I have this config:
[code]
But I get the f

[2016-02-12 13:18] smlng commented on #50
Hi all,

I implemented the changes proposed by @alexaring above, but it I feel I have redone work already done. At least I found some mail archives with multiple patches for RADVD 6lowpan support, why are these changes not reflected here, at least in some devel or 6lowpan branch?

[2016-02-12 13:29] smlng commented on #50
Hi again,

I will make a pull request anyway. However, I saw another patch regarding 6lowpan compression context options, would be nice to have that too. I currently use radvd for a 6L border router setup using a RasPi with openlabs transceiver and sensor nodes running @RIOT-OS.

[2016-02-12 17:20] reubenhwk commented on #54
It may be that your prefix is 0::0/64. I don't think that'll work with Base6Interface.  An all zero prefix will try to auto select a prefix from your br0.  Try making your prefix ffff:ffff:ffff:ffff::/64.

Sent from my iPhone

[2016-02-14 10:02] wodry commented on #54
Thanks, I did a short test, and with prefix "0::0/64" the behavior is the same as with "::/64".
With prefix "ffff:ffff:ffff:ffff::/64" br0 gets a correct IPv6 address with correct prefix. But then after some minutes, my nameserver process (bind aka named), which has "listen-on-v6 { ::1; };" crashes, andy also radvd process crashes. Both can only be terminated by SIGKILL (SIGTERM is not sufficient)

[2016-02-14 19:59] alexaring commented on #50
Please, don't use these patches which you seeing around for a _real_ 6CO support.
I have changed the API for the last stateful compression mainline patches, I will send them somehow again and will try to cc you.

Nevertheless, we/I came to decision that running radvd is wrong for 6LoWPAN networks.
What we need is a RPL implementation like @mcr unstrung repository which handles RA-messages then. Ne

[2016-02-14 21:53] reubenhwk commented on #50
Will do. Thanks for the heads up.

Sent from my iPhone

[2016-02-14 22:17] smlng commented on #50
I do see your point to opt for a full fledged router implementation for 6LoWPAN networks including RPL support. However, I just wanted to setup a rather small sensor network with a Raspberry Pi as 6LR, maybe 6LBR later on. Problem was without the Pi doing RAs I was unable to connect it with sensor nodes running RIOT using non-link local addresses, i.e., ULAs for my isolated test setup. I currently

[2016-04-03 00:52] reubenhwk commented on #45
I'm looking into this, but I don't really understand what to do.  Can one of you explain what RADVD is doing now and what RADVD needs to do?

My initial thought is to do something like the following (but I don't know if this is right)...

Add a config option to override the link-local addr of an iface and use that addr in sendmsg.  Here's a snit of the diff...

-       memcpy(&pkt_info->ipi6_addr,

[2016-04-04 09:37] reubenhwk commented on #38
closing this issue because permissions on radvd.conf should not be so restrictive.

[2016-04-04 09:37] #38 closed

[2016-04-04 09:38] reubenhwk commented on #45
So spoof the router IP?

[2016-04-04 09:38] reubenhwk commented on #13
dont care

[2016-04-04 09:38] #13 closed

[2016-04-04 09:44] #54 closed

[2016-04-10 18:42] ivilata commented on #46
Hi!  After more testing, I think I found the reason why this doesn't work.  I enabled debugging with version 2.13 and saw the following message (as I mentioned above):

which I traced to ``send.c:send_ra_forall()``, and also this new message:

which I traced to ``device-common.c:check_device()``.  Manually disabling the conditions that fired these messages and rebuilding resulted in radvd sending

[2016-04-10 20:08] reubenhwk commented on #46
Well, if it worked in v1.9.1, but not in v2.13, without changing the
settings on your device, seems like maybe v2.13+ should do the same as
v1.9.1.  I'll look into it to see if there's a good reason why it stopped
working...

On Sun, Apr 10, 2016 at 11:42 AM, Ivan Vilata-i-Balaguer <
notifications@github.com> wrote:

[2016-04-27 18:08] robbat2 commented on #45
Rather than spoof the router IP, radvd could dynamically check if the specified address is present on the interface, and only then use it. This would tie in well with code for the getifaddrs `::/64` path and addresses being dynamically added to an interface.

I'd use VRRP with `fe80::1/64` address, having it on only one router at a time. I'd want to make sure `AdvSourceLLAddress` was set to `off`

[2016-04-27 18:13] reubenhwk commented on #45
Makes sense!  Also much simpler than what I was thinking.  I'll take a stab
at this when I get some free time.  Is there going to be anybody available
in the next couple week who can test it out to verify the changes?

On Wed, Apr 27, 2016 at 11:08 AM, Robin H. Johnson <notifications@github.com

[2016-04-27 18:32] robbat2 commented on #45
I could certainly test it.

I do see alternative use-cases for spoofing the source address, but that's entirely separate from this problem, and I'd want it handled separately (specifically, working around dumb routers that aren't as capable as radvd for RAs, but still letting them do the actual routing).

[2016-07-01 18:27] candrews opened #56 "Include a systemd service"
Can radvd please include and (optionally) install a systemd service?

Many distros are using systemd (such as Debian, Ubuntu, and Fedora) and others are supporting but not necessarily using it by default (Gentoo). Currently, each one of these distributions has to create and distribute their own systemd service for radvd, even though they're all (virtually) identical, with the only differences bein

[2016-07-02 18:17] reubenhwk commented on #56
Yes!  I've been wanting to do this for a while.  This info is going to make
it easier.  Thanks!

Expect radvd 2.14 to have this in the next week or so.

On Fri, Jul 1, 2016 at 11:27 AM, Craig Andrews <notifications@github.com>
wrote:

[2016-07-02 18:23] reubenhwk commented on #56
question,

Wouldn't ExecReload do better like this...

ExecReload=/usr/sbin/radvd --configtest && /bin/kill -HUP $MAINPID

On Sat, Jul 2, 2016 at 11:17 AM, Reuben Hawkins <reubenhwk@gmail.com> wrote:

[2016-07-02 18:38] candrews commented on #56
Wow, yeah. That does seem better!

[2016-07-03 15:47] reubenhwk commented on #56
Another question...

who uses --with-systemduserunitdir?  Is there a standard m4 macro for this
yet?

On Sat, Jul 2, 2016 at 11:38 AM, Craig Andrews <notifications@github.com>
wrote:

[2016-07-03 15:50] reubenhwk commented on #56
Nevermind...  I think I found the useful info here...

https://www.freedesktop.org/software/systemd/man/daemon.html

On Sun, Jul 3, 2016 at 8:47 AM, Reuben Hawkins <reubenhwk@gmail.com> wrote:

[2016-07-07 13:34] jaredmauch commented on #39
Is someone still looking at this issue?

[2016-07-07 15:29] reubenhwk commented on #39
No.  Looks like I gave it some thought and never did it.

[2016-07-07 15:39] reubenhwk commented on #39
There's a related wrong-prefix branch.  It seems related.

[2016-07-23 22:52] reubenhwk commented on #56
Hi Craig,

Can you checkout the radvd/systemd branch and give it a go?  Let me know if
the changes work.

Thanks in advance,
Reuben

On Sun, Jul 3, 2016 at 8:50 AM, Reuben Hawkins <reubenhwk@gmail.com> wrote:

[2016-07-25 18:28] candrews commented on #56
https://github.com/reubenhwk/radvd/blob/87e35be85ef56e28a59b68bd01ec8eaa96acbfef/radvd.service.in is missing the hardening features - perhaps those could be added in? I submitted a PR to your branch:
https://github.com/reubenhwk/radvd/pull/58

[2016-08-09 00:42] candrews commented on #56
Distros (including Gentoo and Fedora) run radvd as the "radvd" user (which is nice as it reduces the privileges more) - would it make sense to add "--username radvd" to ExecStart and add "CAP_SETUID CAP_SETGID" to the CapabilityBoundingSet?

I think that may mean the readme and/or installation instructions... But it would be nice as then distros could use the upstream service unmodified.

[2016-08-09 02:00] reubenhwk commented on #56
Not sure it's necessary. RADVD forks off a unprivileged process to do all the work which runs as nobody. The privileged process still runs as root. Is it worth the effort?  Should both processes run as the runas user, or just the privileged one?

Sent from my iPhone

[2016-08-14 12:54] alexaring commented on #50
fixed in 81745920a0b27696aab2e78cecdd807d988cbaee

[2016-08-14 12:54] #50 closed

[2016-08-19 06:48] reubenhwk commented on #56
systemd service file is now included

[2016-08-19 06:48] #56 closed

[2016-08-19 06:53] reubenhwk commented on #53
duplicate of #39

[2016-08-19 06:53] #53 closed

[2016-08-19 09:44] reubenhwk commented on #39
I dumped the wrong-prefix branch because it was too old and I didn't like the code anyway.  I'm going to make another attempt at this...

[2016-09-21 16:45] athreyaDell opened #60 "queries: controlling MinRtrAdvInterval and MaxRtrAdvInterval values"
Hello,

My current /etc/radvd.conf looks like this:

interface eth0.4004 {
  AdvSendAdvert on;
  IgnoreIfMissing on;
  MinRtrAdvInterval 3;
  MaxRtrAdvInterval 10;
  prefix fde1:53ba:e9a0:de24::/64 {
      AdvOnLink on;
      AdvAutonomous on;
      AdvRouterAddr on;
 };
};

I have 2 centos running on arm machines which are connected.
Radvd is ON on first m/c and OFF on second.

1. Radvd is being

[2016-09-21 17:51] reubenhwk commented on #60
How are you trying to control MinRtrAdvInterval and MaxRtrAdvInterval and
what indication do you have it's not working?

On Wed, Sep 21, 2016 at 9:45 AM, athreyaDell <notifications@github.com>
wrote:

[2016-09-21 18:27] athreyaDell commented on #60
I am trying to control MinRtrAdvInterval and MaxRtrAdvInterval  using the configuration file /etc/radvd.conf . I am doing a tcpdump on the interface to analyze the ipv6 advertisements. Irrespective of the rate mentioned in the config file I see the router advertisements every second.
This output is with the config file description shown above.

output:
03:01:47.390000 IP6 fe80::b283:feff:fef2:8a76

[2016-09-22 00:53] reubenhwk commented on #60
This sounds like a bug that was recently fixed. Which version are you using?

Sent from my iPhone

[2016-09-22 14:46] athreyaDell commented on #60
gotcha! Now it makes sense! its 3.11 version. Good that I contacted regarding this. Else I would presume I am configuring wrong. Thank you

[2016-09-27 14:56] #60 closed

[2016-11-04 14:12] ruben-herold commented on #45
sorry for my late answer, can someone tell me the current state?

[2016-11-05 05:46] reubenhwk commented on #45
I recall looking at it, having trouble, and giving up.  There's a
possibility I didn't completely understand the problem, or the solution.  I
was under the impression I would have to spoof src addrs in the packet, but
I wasn't able to setup a raw socket to do that (not that it couldn't be
done, I just wasn't able to at the time).

On Fri, Nov 4, 2016 at 7:12 AM, Ruben Herold <notifications@github.

[2016-11-06 03:09] robbat2 commented on #45
I did read more of the source, but never came back to implement.
[code]

Instead of the first link-local address, implement something that checks the array  `props->if_addrs` for a specified value (eg `fe80::1`). If present, use it; If not present, do NOT send the packet.

[2016-11-06 03:10] robbat2 commented on #45
Additionally here, the if you use the user-specified address blindly, without checking `props->if_addrs`, you should get the spoofing behavior trivially (I think the kernel will swallow it if you're non-root).

[2016-11-07 01:35] reubenhwk commented on #45
What part of the code are you taking about Robin?  If I hack around with it
in send.c, I can do two things.  I can comment out the memcpy, in which
case I still get adverts.  I can also put something else in
pkt_info->ipi6_addr, in which case I don't get adverts.

It seems like this feature request is to put something other than the link
local address of the interface into that field, but so far,

[2016-11-07 05:39] robbat2 commented on #45
An interface may have MORE than one link-local address. In my case, I'd like to have `fe80::1` present on the interface and used in the advert.

[2016-11-07 07:20] reubenhwk commented on #45
Ah!  I think I'm starting to get it...

So RADVD only reads (I think) the first link local addr it finds, and uses
that one.  You want a setting in the config file to specify which link
local addr to use when sending the advert?

If I recall correctly, the reason for this is so the hosts in the subnet
will configure their default route to use the link local addr from which
the router RA came, and

[2016-11-08 01:36] robbat2 commented on #45
Running RADVD on a different host than the gateway is a possible edge case, but the most trivial one is just having multiple LLv6 addresses on the gateway, and allowing selection of the one you want. (eg a single `fe80::1` address in the network, and it moves around to the active gateway)

[2016-11-14 06:54] robbat2 opened #62 "Support RA-splitting & scheduling"
Placeholder bug for development of RA-splitting functionality.

Builds on top of my RA source configuration.

Implements:
RFC4861 6.2.3
RFC6980 - Security Implications of IPv6 Fragmentation with IPv6 Neighbor Discovery
RFC7772 - Reducing Energy Consumption of Router Advertisements (scheduling placeholder functions so far)

Submitting for early review

[2016-11-16 05:02] #45 closed

[2016-11-19 01:46] robbat2 opened #63 "RS w/ UnicastOnly=off & ClientList triggers RA flood"
Expected result:
If a `UnicastOnly=no` instance with a fixed client list gets a RS, it should only respond to that client.

Actual result:
The instance sends RAs to every single client.

Effects:
Hosts that did not solicit the RA are flooded by RAs when not needed.

Host setup:
[code]
radvd.conf:
[code]

Test trigger:
[code]

debug=5 logging
[code]

Network capture:
[code]

[2016-11-19 01:48] robbat2 commented on #63
If `UnicastOnly=on` is set, then the flood does not happen.

[2016-11-19 06:51] reubenhwk commented on #63
Hmm..  I can picture the code, and that makes sense, and it should be fixed.  One of the problems is that the RA is randomly delayed, so once radvd gets an RS, it just schedules the RA to happen after a short delay, but doesn't remember the RS.  So the info in the RS needs to be linked to the RA somehow so it known to whom it should send the RA.  The schedule/delay queue will just need to store th

[2016-11-19 09:36] robbat2 commented on #63
See RFC 7772 section 2.1: https://tools.ietf.org/html/rfc7772#section-2.1
In the case of a large network, this leads to a `all-nodes` RA every 3 seconds, which wakes up all of the devices on the network.

Suggested new behavior:
- when the process gets a RS, always send an immediate unicast response to only that client, with the complete set of RA options.
- Leave the `all-nodes` RA cycle alone (t

[2016-11-19 10:17] reubenhwk commented on #63
That does sound like a better idea.  Just to clarify...

Leave all-node multicast cycle alone?  Unicast responses to RS's?

[2016-11-19 10:26] robbat2 commented on #63
Yes, leave the multicast cycle entirely alone.

In the worst case, immediately after we send a complete set of unicast RA to a single client, we have our regularly scheduled multicast, which for this window aligns to schedule ALL packets.

The overall objective here is that it should be feasible to INCREASE the multicast interval, but still get a near-immediate unicast response to RS, without floo

[2016-11-19 19:49] robbat2 opened #65 "default route flapping: AdvDefaultLifetime vs route 0::/0"
A non-zero `AdvDefaultLifetime` should not be permitted if sending a an explicit route of 0::/0 with zero lifetime, as it causes a default route flap event on the nodes receiving the RA.

This was a corner case found in further testing of RA-splitting, and reproduced it without the splitting code, I think the best way to handle it is during config file validation.

Proposed solution:
- If  exactly

[2016-11-19 20:56] robbat2 commented on #63
Ok, this is going to be easiest to fix after RA-splitting is merged, because:
- it's going to conflict horribly otherwise
- in the case of no client list, we need an additional data structure of all _requesting_ nodes, so we can rate-limit each node to one RS per $INTERVAL (thinking of just using the MIN_DELAY_BETWEEN_RAS/MIN_DELAY_BETWEEN_RAS_MIPv6 values).

[2016-11-20 18:16] reubenhwk commented on #65
This sounds good.  Are there likely a whole lot of existing config files out there doing this?  If so, I'd propose we issue a warning, and change the values set in the config file to something that won't case the flow, but don't fail.  I wouldn't want people's configs to suddenly stop working when they update to a later version of RADVD.

If this is very unlikely, however, I'd just say let's fail

[2016-11-20 23:16] robbat2 commented on #65
I don't know how many of them are doing it, maybe we just warn then as you say.

I only found it because I had a typo in my script that was generating test configurations (generate a pile of different routes on the server, and test on the client that all of them were seen, without any other route changes), and noticed the default route flap.

[2016-11-21 04:10] robbat2 commented on #65
New version does not abort anymore.

[2016-11-23 01:46] #65 closed

[2016-11-23 06:12] robbat2 opened #67 "Host bits on prefix/route options are non-zero, can cause confusion."
If a route or prefix option in the configuration has more bits specified than the address length mask, Radvd should:

- warn or error.
- forcing the non-network bits to zero.
- collapse now duplicate prefix/routes.

## Specifications:
https://tools.ietf.org/html/rfc4861#section-4.6.2 page 30:
[code]
Emphasis: `The bits in the prefix after the prefix length are reserved and MUST be initialized to z

[2016-12-05 18:11] andihofmeister commented on #25
I had the same problem.

Turns out that I tried to change the firewall mark on the packets via ip6tables. Apparently this causes the packets to be re-routed whereby the scope_id and in6_pktinfo get lost. After removing my marking rules, the problem was gone.

Environment was kernel 4.4.36, iptables 1.4.21 and radvd 2.15

Hope that helps
Andi

[2017-03-15 16:01] spakka commented on #63
I'd like to add a +1 to this
Having a periodic multicast advertisement, but unicast responses to RS, would help us also with RFC7772 issues.
It would be good to be able to do this without having to configure a list of unicast clients as well.
We have many battery-powered devices coming and going from a large wireless lan, and every time one connects and sends an RS, all the others get their radio

[2017-03-15 19:35] robbat2 commented on #63
Yes, this is still an issue; I started a patchset for it, but got sidetracked by other work.

The major issue was trying to decide on scheduling and tracking requesting nodes issues. The latter is a problem because it represents a potential DoS attack if we try to track all unicast clients (if they just spoof lots of different addresses, they can overwhelm radvd).

[2017-03-16 00:06] robbat2 commented on #63
@spakka can you read/test out PR #69?

[2017-03-16 00:07] robbat2 commented on #63
This PR represents the minimal fix. There are further improvements suggested in TODO for later, like deliberately deferring the unicast RA if we are getting close to the time of multicast RA; as well as forcing more multicast RAs when topology is changing.

[2017-03-16 13:36] spakka commented on #63
Hi, thanks for the quick reply.
I've reviewed the patch and it looks in compliance with the RFC. I tried to test it but wasn't able to generate an RS with the SLLA option, so i moved the rfc7772_unicast_response test outside the option block, to make it apply to all RSs, and it works great. Only thing is that if a unicast response is destined for a link-local address and there is no existing ND en

[2017-03-16 18:04] robbat2 commented on #63
I can trigger it by having Linux restart an interface (libvirt instance of Ubuntu 14.04, patched quagga running on the bridge `virbr0`):
[code]

In your prod environment, can you look for other RS and see how many of them do have SLLA set? If some OS doesn't properly set the SLLA option, it might be worthwhile to have a variant that doesn't require SLLA to be set, with a suitable warning that it w

[2017-03-16 19:53] spakka commented on #63
Not able to test the full prod environment as it is a meeting/conference network, and the next conference is in just over a month :)
But I tested with all the clients I have nearby, here are the results:
[code]
So it isn't universally supported, and at least the iPhone is definitely in the category of small battery-based device (actually, all the above devices are battery-powered!) Not sure why ma

[2017-03-18 06:58] reubenhwk commented on #63
I think I missed the SLLA requirement dropping question.  RADVD only set it
optionally.  Why is it in question right now?

On Thu, Mar 16, 2017 at 1:27 PM, Robin H. Johnson <notifications@github.com>
wrote:

[2017-03-18 21:50] robbat2 commented on #63
RFC7772 5.1.1 says to qualify for a unicast RA response, the RS needs to
1. not be from the unspecified address
2. contain a SLLA option.

@spakka tested and found that lots of clients don't set an SLLA option in the RS (including Windows, NetworkManager & iOS mobile devices).

The language in the RFC does not say **MUST** contain an SLLA, so I propose to only have the unspecified address test.

[2017-03-18 21:51] robbat2 commented on #63
* The PR is implemented with both of the requirements at the moment, but could be changed to just unspecified easily.

[2017-03-18 22:03] reubenhwk commented on #63
Ah.  Got it.  I'm ok with dropping the requirement.

On Sat, Mar 18, 2017 at 2:51 PM, Robin H. Johnson <notifications@github.com>
wrote:

[2017-03-19 17:15] robbat2 commented on #63
Updated to drop the requirement.

[2017-06-24 19:04] nachtgeist opened #71 "trouble starting radvd via ssh"
Hi Reuben,

originally I noticed this problem when I wanted to do `ssh router service radvd restart` after I had upgraded the router to Debian stretch, which ships radvd v2.15: the ssh connection wouldn't close, and just sit there forever. I was able to reproduce this behavior without any scripts involved by directly running what the init script would eventually call: `ssh router radvd -u radvd -p

[2017-06-24 20:58] nachtgeist commented on #71
I found out that something goes wrong with the stdout FD;
These commands behave as expected and ssh returns after radvd daemon()'s to background:

`ssh router radvd -u radvd -p /var/run/radvd/radvd.pid >/dev/null`
`ssh router radvd -u radvd -p /var/run/radvd/radvd.pid -d3`

[2017-06-29 05:03] reubenhwk commented on #71
I think there's actually a bug in log.c where the default log method,
STDERR_SYSLOG, is comparing the log level to the wrong value.  I dont like
how STDERR is the default, and so is daemonize.  Any code that daemonizes
should close stdin, stdout, and stderr, but STDERR_SYSLOG prevents that.

It looks like you're trying to SSH to a host and start radvd.  If that is
what you're doing, you should set

[2017-06-29 18:54] nachtgeist commented on #71
Ah, thanks for your input. Your workaround works.

What do you think of
- setting the default log method to `SYSLOG` and
- setting it to `STDERR_SYSLOG` within the 'n'-branch of the getopt switch **if** log_method wasn't set in a previous iteration of the getopt-while-loop?

[2017-06-30 18:50] robbat2 commented on #71
@nachtgeist I've wondered about refactoring the logmethod, to select zero or more of the log destinations and maybe that makes sense for this. If daemonize is set, then stderr/stdout should be dropped from the destinations.

[2017-07-01 06:16] #46 closed

[2017-07-01 06:16] #62 closed

[2017-07-02 01:58] #63 closed

[2017-07-02 02:14] #71 closed

[2017-07-04 09:05] bukepo opened #73 "Multiple configuration files support."
Sometimes we need autogenerated some configurations, which are going to be combined with user defined ones. However, it seems very hard to do this job under the current implementation, mainly two restrictions,

1. Currently all configurations are put into a single file.
2. The structured configuration file disallows duplicating interface definitions.

With the restriction 1, it is not easy to sepa

[2017-07-04 16:47] reubenhwk commented on #73
There no plan to do that, but it sounds like a useful thing to add.

What values do you want to auto generate?

Could you use something like m4 to do what you need to do now?

On Tue, Jul 4, 2017 at 2:05 AM, Buke Po <notifications@github.com> wrote:

[2017-07-04 18:10] reubenhwk commented on #73
Yep, tell me more about the autogeneration. We'll need to be very security conscious about anything which is feeding config to radvd.

For 1 & 2, that's very doable. It'll require a lot of flex/bison coding.

[2017-07-07 00:29] bukepo commented on #73
Thanks. autogeneration includes some route information. For example, there are 2 interfaces, eth0 and eth1. eth1 is connected to a dynamic network whose prefix may change. I need the route information of eth1 to be advertised on eth0, so that hosts connected to eth0 can access hosts connected to eth1.

[2017-08-28 17:27] pimzand opened #75 "What causes Windows "route limit" to be reached?"
After years and years of smooth operation, suddenly, after an upgrade of Fedora 25 to Fedora 26, we started getting serious issues with IPv6 auto configuration. See my [bugzilla report](https://bugzilla.redhat.com/show_bug.cgi?id=1475432).

Note that both Fedora 25 and Fedora 26 ship radvd 2.14.

The issue is that all our Windows hosts that use IPv6 autoconfiguration lose their default gateway aft

[2017-08-28 18:54] robbat2 commented on #75
How many routes do the Windows systems have?

Can you capture & provide a snapshot of the Windows IPv6 route table running on Fedora25 vs radvd 2.17?

[2017-08-29 08:53] pimzand commented on #75
netsh interface ipv6 show route
[code]
netsh interface ipv6 show neighbors
notice the radvd router is marked stale
[code]

[2017-08-29 13:56] pimzand commented on #75
I can think of some wild theories that could explain this behaviour:

1) Upon shutdown, radvd sends a special RA. Windows hosts store this RA somewhere persistently. When radvd is running again, every single RA is seen by the Windows host is now interpreted as a new route.

2) We've had a lot of prefix changes in the first half of 2017, due to SixXS freeze and SixXS sunset. We have native IPv6 now

[2017-08-29 15:05] pimzand commented on #75
[Microsoft KB2750841](https://support.microsoft.com/en-us/help/2750841/an-ipv6-readiness-update-is-available-for-windows-7-and-for-windows-se) mentions something of a route limit

[2017-08-30 15:06] pimzand commented on #75
The packet loss I mentioned earlier appears to be caused by Windows constantly losing and acquiring a default route.

[2017-08-30 20:51] robbat2 commented on #75
I don't see ANY default route in your `netsh interface ipv6 show route` output. The knowledgebase item you reference says the limit gets raised to 100 routes per interface, you're only at 5 routes. I do wonder if it meant to say addresses rather than routes.

Can you include the output of `netsh interface ipv6 show address`?  When the machine state is fresh, and when the problem starts occurring a

[2017-10-30 21:52] robbat2 commented on #67
A further case that needs special handling:
[code]
vs.
[code]
How should `prefix fd3c:b2e8:93df:1:2::/64`  be handled? On Linux hosts, this is treated as two seperate RAs, and the lifetime is seen flapping.

This is even more problematic when you want use `prefix ::/64`, but suppress a single prefix from it.

[2017-10-31 05:12] reubenhwk commented on #67
Hmmm...  I think radvd should mask out the bits beyond the prefix, but this
may break existing configurations out there.

As for the ::/64, I'm not sure..  I suspect leaving it as is and letting it
flap is possibly ok.  Mixing automatic prefixes with explicit ones seems
error prone to me.  I *think* the way to handle that error would be to tell
the user to remove the address with that prefix from

[2017-10-31 17:16] robbat2 commented on #67
I ask about the combination case because I recently encountered it inside Ubiquiti EdgeRouters when using DHCPv6-PD. It runs radvd with a `prefix ::/64`, and then the PD daemon rotates the addresses on the interface as pushed by the ISP. If you want to also run your own ULA address, with different parameter, you get the the duplicate prefix in the RA along with the flap. Or worse, if you wanted to

[2017-10-31 17:19] reubenhwk commented on #67
I think the auto prefix should NOT take priority over a static one. What do you think?

Sent from my iPhone

[2017-10-31 17:44] robbat2 commented on #67
I think we can give ourselves easy flexibility: Introduce a `priority` param for prefixes.
- Highest value wins.
- Defaults to some middle number: Auto could have a lower default than static.
- Settings taken for each unique prefix with highest priority.

[2017-10-31 17:48] robbat2 commented on #67
HostBits: Thinking about your concern in breaking existing configs, adding a new toplevel (command-line arg?) or interface option, for strict RFC, so it masks the hostbits?

[2017-10-31 20:46] reubenhwk commented on #67
I’m leaning toward just doing RFC spec. I’m having doubts that if anybody is doing that that it would work as expected.

Sent from my iPhone

[2017-11-17 22:28] trofi opened #77 "test_add_ra_option_lowpanco and build:test_add_ra_option_abro fail on big-endian platforms"
Original report: https://bugs.gentoo.org/637958

There is at least two issues in radvd WRT endianness:

1. `add_ra_option_lowpanco()` and `add_ra_option_abro()` do not normalize 16-bit field into networking order:

[code]

2. `struct nd_opt_6co` has sub-byte bit fields that I think are not stable across endianness
because patch aboge does not stabilize output completely.

[code]

[2017-11-17 22:56] trofi commented on #77
Example program to clarify bit ordering problem:
[code]

Output difference:
[code]

[2017-11-18 00:04] trofi commented on #77
Proposed the change to fix it: https://github.com/reubenhwk/radvd/pull/78

[2017-12-07 05:12] #77 closed

[2017-12-18 13:30] PlasmaHH opened #79 "radvd crashes when ifa_addr is NULL in send.c:293"
According to the getifaddrs manpage ifa_addr can be NULL, which it is on my system, which causes a crash upon send.c:293  if (ifa->ifa_addr->sa_family != AF_INET6)

[2017-12-18 16:36] reubenhwk commented on #79
Can you fix it and send a pull request?

Sent from my iPhone

[2017-12-18 19:10] fooker opened #80 "Config parser should allow interface names which are keywords"
I've got an interface named `clients`. The according config line does not parse correctly:
[code]

It results in the following error:
[code]

As far as I've seen, there is no way to quote the interface name. The parser should be extended to allow quoted strings to solve this problem.

[2017-12-19 06:52] robbat2 commented on #79
A partial patch for it: https://github.com/robbat2/radvd/commit/a459621fac4e8259c43211a9f27d81d60ec33fbc
It looks like there might be the same issue w/ `ifa_netmask`.

[2017-12-21 19:16] pimzand commented on #75
It's been a while since I commented on this, but it is still a hairpulling issue.

I believe the key issue here is Windows sporadically losing the default gateway
before regaining it after receiving a new advertisement. This happens no matter
what interval I choose.

I believe the final definite loss of the gateway happens when there have been
to many sporadic gateway losses, triggering the "route

[2017-12-21 19:29] pimzand commented on #75
Now here's an interesting observation, I just witnessed:

Using Wireshark, I could always see the gateway is regained the moment a RA is received.

But now I see I can actually force a gateway loss by pinging the Windows host
from an outside IPv6 subnet. And what's really interesting: icmpseq=1 always
is successful, then the gateway is lost, causing packet loss, then after 10-20
packets the packet

[2017-12-22 06:19] #80 closed

[2017-12-22 06:23] reubenhwk commented on #75
Is this a bug in Windows which causes it to loose connectivity over IPv6
which can be triggered remotely?  If so that's really bad news and we need
to inform Microsoft privately so they can issue a patch.

On Thu, Dec 21, 2017 at 11:29 AM, Pim Zandbergen <notifications@github.com>
wrote:

[2017-12-22 20:30] pimzand commented on #75
Well it can be triggered remotely, if the external firewall allows to forward icmpv6 to the Windows host.
It happens even with the Windows Firewall active.
I could reproduce this on a fresh Windows 2012 R2 install, no Windows Update,
nothing installed except VMware Tools.

What's puzzling me now is
- why did I not see this before I upgraded to Fedora 26
- why is't anyone else seeing this

[2017-12-23 01:35] reubenhwk commented on #75
What were you using before fedora 26. Can you try whatever that was again?  Maybe 26 is a red herring.

Sent from my iPhone

[2017-12-23 20:53] pimzand commented on #75
I've been using Fedora from the start and Red Hat Linux (non-Enterprise) before that.
I've been using IPv6 on it since at least 2003, maybe earlier.
After having upgraded tot Fedora 26, I downgraded  radvd to that of Fedora 25, and booted a F25
kernel. It did not help. Recently, I upgraded to Fedora 27 which comes with radvd 2.17 natively.

I'm still not sure whether this is related to changes in

[2017-12-23 22:01] pimzand commented on #75
Using Wireshark on the router, and continuously pinging the Windows host from an external address,
I'm seeing the gateway is lost _every_ time
- from the moment the Windows host does a Neighbor Solicitation for the router's address
- until the moment the Windows host receives a Router Advertisement

The Neighbor Solicitations _are_ being answered.

[2017-12-23 22:04] pimzand commented on #75
I think I'm getting closer.

The Neighbor Advertisements that the router sends, have the solicited flag on, but the router flag is off.
Shouldn't the router flag be on?
What controls that?

[2017-12-23 23:05] pimzand commented on #75
Found it! It did have to do with the Fedora upgrade, something had changed in sysctl processing.
/etc/sysctl.conf and /etc/sysctl.d/*.conf are being processed too early.

`net.ipv6.conf.all.forwarding = 1`
and
`net.ipv6.conf.default.forwarding = 1`
but
`net.ipv6.conf.<myinterface>.forwarding = 0`

Running `systemctl --system` manually fixes it.

Apparently, the unfixed sysctl settings did allow ip

[2017-12-23 23:11] reubenhwk commented on #75
Interesting!  Can you explain what effect this has on the packets RADVD is
sending out?  I have to admit, I still don't understand the problem.

On Sat, Dec 23, 2017 at 3:05 PM, Pim Zandbergen <notifications@github.com>
wrote:

[2017-12-23 23:30] pimzand commented on #75
It is not a radvd issue.
It was radvd tellling the router is a router, and the kernel telling the router is not a router.
radvd controls router advertisements, and sysctl controls neighbor advertisements.

Apparently systemd is applying /etc/sysctl.d/*.conf files before the network interfaces are set up.

[2017-12-24 17:15] pimzand commented on #75
systemd-sysctl.service is applying /etc/sysctl.conf, /etc/sysctl.d/*.conf and /usr/lib/sysctl.d/*.conf
just after modules have been loaded. Too early to enable IPv6 forwarding, because forwarding
has to be enabled on every interface individually, rather than just once for IPv4.

I created a systemd unit file that runs the service again just after network online,
(two seconds later) and now everyth

[2017-12-24 17:15] #75 closed

[2017-12-27 17:09] pimzand opened #82 "ipv6 forwarding needs to be checked for each specific interface"
I just closed issue #75 after concluding it was never a radvd issue, but one could argue it is.

Issue #75 describes a problem caused by sysctl setting /proc/sys/net/ipv6/conf/all/forwarding to 1
but leaving /proc/sys/net/ipv6/conf/enp31s0f0/forwarding at 0.

In this case, the kernel will forward IPv6 traffic from and to enp31s0f0, but Neighbor
Advertisements sent from this interface will have the

[2017-12-28 03:11] reubenhwk commented on #82
Thank you for getting to the bottom of this!  :)

Sent from my iPhone

[2018-02-11 18:51] mhanor opened #85 "deprecate prefix on prefix removal from interface"
Hello,

This issue is a continuation of the second part of the discussion we made in issue #36. And issue #39 is related
Currently, radvd is able to be notified of an address prefix being added or removed from an interface, but I'm still interested that its clients receive a RA to deprecate the prefix being removed from the interface, which radvd doesn't do.

Here's my radvd.conf

[code]

[2018-02-12 17:07] reubenhwk commented on #85
Hmmmmm...   challenge accepted.

Sent from my iPhone

[2018-02-12 17:22] alpe12 opened #86 "Serve ips to another gateway"
My router doesn't set the MTU right for the IPv6 clients, so I have to manually configure them to use MTU 1480. But that is not pratical.
So I though about using radvd in my Odroid board to reannounce the prefix with the correct AdvLinkMTU option and with AdvDefaultPreference high so that it is preferred over the router announce.
The clients receive the IP from this server just fine, but they use

[2018-02-12 17:32] reubenhwk commented on #86
Your router doesn’t set linkmtu right?  Can you elaborate?  What does it do, and what is it supposed to do?  How are you working around it and why does the workaround work?

Sent from my iPhone

[2018-02-12 17:42] alpe12 commented on #86
The MTU on the wan is 1480, the router doesn't advertise any mtu to the clients, so they use 1500.
If I don't manually configure the clients (android, linux, windows, doesn't matter) to use MTU 1480, most sites that use IPv6 don't open. Like Netflix, Pinterest, etc. They just keep trying to connect but never do. And they don't fallback to IPv4 either. Maybe the router doesn't send the "Packet Too

[2018-02-12 22:20] reubenhwk commented on #86
So your C7 is running radvd but not setting the link mtu and path mtu discovery is also not working through the C7?  Is the WAN on the C7?

Sent from my iPhone

[2018-02-12 22:57] alpe12 commented on #86
Yes and yes.
The router is with the stock firmware, so I can't freely tweak it. I'm going to install LEDE when a stable version is released to it.
That's why I though about using a second radvd that is configured with AdvLinkMTU as a workaround.

Dump from the RA of the router:

[2018-02-13 01:41] reubenhwk commented on #86
Have you attempted to explicitly set the mtu on the c7? Looks like there’s a setting for it.

Sent from my iPhone

[2018-02-13 01:52] alpe12 commented on #86
The only place that we can set it is in the PPPoE connection. It's set to 1480 (maximum 1492). :/
I already tried 1492, but same thing.

[2018-02-13 12:07] reubenhwk commented on #86
Do you know where/why PMTUD is failing?

Sent from my iPhone

[2018-02-13 13:50] alpe12 commented on #86
No. :/

But good news. After almost 3 weeks, finally TP-Link answered the message and provided me with a beta firmware. This firmware fixed the issue. The router still doesn't advertise the MTU, but now the PMTUD works.

Thanks for answering my messages and for the patience. :+1:

[2018-02-13 14:50] reubenhwk commented on #86
Wow!  That's great.  I've always like TP-Link products.  Now I like their
support too.

Nice work TP-Link!

On Tue, Feb 13, 2018 at 5:50 AM, alpe12 <notifications@github.com> wrote:

[2018-02-13 15:39] alpe12 commented on #86
I think it's ok to close it now, since it's not needed anymore.
Thanks again.

[2018-02-13 15:39] #86 closed

[2018-04-04 17:35] robbat2 commented on #79
@PlasmaHH  can you test that commit?

[2018-04-09 11:10] rozmansi commented on #25
I have been banging my head against the wall for the last few days trying to solve this problem too.

Thanks to @andihofmeister, I have found that an `ip6tables -t mangle -A OUTPUT -p ipv6-icmp -j MARK --set-mark 0x1` causes all RAs to different subnets to be rerouted thru the same interface.

Kernel: 4.13.0, radvd: 2.16

[2018-05-09 17:35] stu-gott commented on #85
I'm also interested in this. I noticed this dynamic after my network prefix changed. Clients continued to use addresses that should have been deprecated until the valid lifetime was exceeded.

[2018-05-11 21:00] bnutzer opened #91 "::/64 advertises deprecated prefixes"
I'm a customer of the German Telekom. I receive dynamic prefixes for my internal network via dhcpv6, and distribute these prefixes with the ::/64 "special prefix" via radvd on my (Linux) gateway.

When my prefix changes (which happens monthly, as far as I can tell), the old local address on my internal interface is deprecated. However, the system will not drop the address completely (for quite som

[2018-05-12 13:48] reubenhwk commented on #91
Sounds reasonable. Too bad your prefix changes so often. Doesn’t your Telekom care that they’re breaking connections?

Sent from my iPhone

[2018-05-12 20:29] robbat2 commented on #91
@bnutzer Can you review issue #85 and see if this is a duplicate, or if not, what's different?

[2018-05-18 12:02] stu-gott commented on #91
@robbat2 There's two distinct scenarios that radvd might need to account for.

* Address on the interface is deprecated (preferred lifetime set to 0)
* Address on the interface is removed

It's up to you whether you think of those two events as the same thing or not, but in either case the correct response for radvd would probably be to retire the prefix as soon as possible (7205-ish seconds?)

[2018-05-18 13:57] bnutzer commented on #91
Sorry for my late reply. Something was wrong with my notifications.

It was only after my post that I realized why my prefixes change; in contrast to my original assertion, that does not happen monthly, but after forced reconnects every couple of months.

@reubenhwk German Telekom forces re-connects every 6 months (only) for consumer lines. I am reconnecting every 1st of January/May/November to be

[2018-06-12 01:35] mcr commented on #82
Raphaël Halimi <notifications@github.com> wrote:

I totally agree.
I think that it comes from KAME's original BSD code that basically insisted
that the host be either a router or a host, and didn't comprehend that it
might have different roles on different interfaces.

And, it's totally legitimate to not advertise a default route too, in which
case it doesn't matter if one will forward packets or

[2018-10-18 20:48] robbat2 opened #96 "Cut new release"

[2018-11-07 16:32] MarioVerbelen commented on #91
My provider switches more frequently
Also if I restart wide-dhcpv6-client I get a new prefix on my lan interface (/56)
For now I restart radvd if the prefix changes

I guess radvd should verify the interface at a regular interval depending on the advertising vs only at startup

[2018-12-05 20:25] adudek16 opened #98 "cannot set curhoplimit (64)"
Radvd should check the hoplimit before trying to set it.  In my use case, docker image, my interface hoplimit is already set to 64 and radvd is complaining that it cannot set it to 64.
[code]
The issue is that /proc is read-only and it doesn't need to be changed

[2018-12-06 18:04] adudek16 commented on #98
Kubernetes is running on 4.15.0-34 on ubuntu 18.04.1.  I'll be honest, I'm not sure how people are getting this to run inside a container.

[2018-12-06 18:09] adudek16 commented on #98
The only thing I can find to this issue is a reference to this
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=431665.

I am using radvd 2.16-3

[2018-12-06 18:18] adudek16 commented on #98
tried this using radvd 2.17-1 (from ubuntu 18.10) and no issues...  Closing

[2018-12-06 18:18] #98 closed

[2019-01-10 09:27] CRCinAU opened #99 "Losing default route on Android"
Lodged with Google here:
https://issuetracker.google.com/issues/119981839

Google state:
[code]
Where the router is indicating that it's not a router any more (note the R flag is 0).

My radvd config is:
[code]

[2019-01-11 19:23] robbat2 commented on #99
Can you please capture w/ `tcpdump -vv -ee` or wireshark on your network, showing that the capture in a more useful form?

The other thing I've seen is that sometimes a network has more than one device sending RAs, and the unexpected sender has R=0

Please also note what version of radvd is in use.

[2019-01-13 00:57] robbat2 commented on #99
tcpdump: `icmp6` is a good starting point to capture; and it will also include IPv6 neighbour discovery which can possible help some of this debugging.

[2019-01-23 16:56] landgraf opened #100 "Double free on cleanup"
In case of misconfiguration (interface was specified twice) race condition between privsep and main thread occurs and it leads to double-free and crashing of radvd.
reproducer is as simple as
[code]

Valgrind report:
[code]

[2019-01-26 05:43] robbat2 commented on #79
Reping for getting that tested

[2019-01-26 05:44] #100 closed

[2019-01-26 05:47] robbat2 commented on #79
@landgraf can you test this one maybe?

[2019-01-26 05:50] robbat2 commented on #96
@reubenhwk asides from the current issues, are you aware of any blockers for a new release now?

[2019-01-26 08:08] reubenhwk commented on #96
I’m not aware of any.

Sent from my iPhone

[2019-03-06 17:22] reubenhwk commented on #96
v2.18 done

[2019-03-06 17:22] #96 closed

[2019-04-22 08:49] mohitmk03 opened #108 "Interface losing IPV6 address assigned by radvd"
After starting the radvd demon, Linux ethernet interface is losing the IPV6 address after 2-3 days.

Here is the configuration file which I am using.

[code]

Also if I make the interface down and up, IPV6 address is not reassigned by the radvd. I looked online and there seems to be option available from Kernel 4.6 to [preserve the IP address](https://serverfault.com/questions/842542/why-are-ipv6-

[2019-04-24 18:06] mhanor commented on #108
radvd advertises a IPv6 prefix to client on the network. It's not clear for me what problem are you reporting. Do you have a problem on a client on the network? Or do you have a problem of loosing the IPv6 prefix on your IPv6 gateway/router, on the LAN facing interface?

[2019-04-26 11:53] mohitmk03 commented on #108
Thanks for the quick reply.

The LAN interface on my IPV6 router is losing its Global address. We have 7 clients on the network. Each client restarts approximately 10-20 times in a day.  After some 24 hours, router is not advertising the RA packets, also it is not responding to the messages from clients.

Other observation is with having AdvPreferredLifetime infinity; and  AdvValidLifetime infinit

[2019-04-26 12:43] mohitmk03 commented on #108
Debug logs from router:
[code]

Meanwhile I am also running setup with debug log enabled. Will share the logs as soon as  IPV6 address loss is reproduced on my router LAN interface.

[2019-07-14 09:17] ValZapod opened #109 "Code cleanup"
https://github.com/reubenhwk/radvd/blob/f9ac9a88775225eddf39208eefbc136a23757690/send.c#L789-L794

Why do you need this? Line 792 can be fully deleted.

https://github.com/reubenhwk/radvd/blob/f9ac9a88775225eddf39208eefbc136a23757690/send.c#L161
https://github.com/reubenhwk/radvd/blob/f9ac9a88775225eddf39208eefbc136a23757690/send.c#L331
Twice parentheses

https://github.com/reubenhwk/radvd/blob/f9

[2019-07-18 06:09] reubenhwk commented on #109
Can you make a pull request for everything but the suffix stuff?  I dunno
if I want to trust your analyzer to those changes.  That code's been
working for 9 years.

On Sun, Jul 14, 2019 at 2:17 AM Valerii Zapodovnikov <
notifications@github.com> wrote:

[2019-07-18 06:11] ValZapod commented on #109
@reubenhwk Unfortunately, I do not have access to computer now)) And android is not comfortable for this.

[2019-07-18 14:51] reubenhwk commented on #109
Does that mean your code analysis tool is Chrome?

Sent from my iPhone

[2019-07-18 15:13] ValZapod commented on #109
Very funny. Chrome cannot analyze C code, obviously.

[2019-07-18 15:26] ValZapod commented on #109
Besides that radvd does not have any issues, not like in iputils, anyway. https://github.com/iputils/iputils/issues/205
So I am closing this.

[2019-07-18 15:26] #109 closed

[2019-07-18 16:44] reubenhwk commented on #109
I’ll make the other cleanups you suggested when I get a chance unless somebody else beats me to it.

Sent from my iPhone

[2019-08-03 07:39] ValZapod commented on #109
@reubenhwk What can you say about https://github.com/reubenhwk/radvd/blob/849f69c3e6876fad009a8f3be27d7533ce9a56db/process.c#L400
It says that label_len >= (INT_MAX - 1) is always false. I suppose because it is `int label_len = char nd_opt_dnssli_suffixes[]`, so it is impossible.

And this one
https://github.com/reubenhwk/radvd/blob/dec440273f4769e6daf1814bd2622a3efd683541/process.c#L77
It is also

[2019-08-05 13:47] ruben-herold commented on #91
any news here? It would be great if radvd could handle prefix changes issued by dhcp prefix delegations smoothly ...

[2019-09-14 07:21] woffko commented on #108
https://forum.netgate.com/topic/142363/ipv6-broken-radvd-can-t-join-ipv6-allrouters-on-interface/57
I am not sure, but we all are run into the same issue?

[2019-09-21 20:33] hxx-fetch opened #112 "segfaults in send.c:add_auto_prefixes for devices having ifaddrs.ifa_addr == NULL"
On 2.18 I had radvd starting segfaulting, when I added a wireguard interface to the system.

Debugging showed that send.c line 293 is the culprid. Following patch fixed the segfaults:

[code]

According to the man page of getifaddrs is seems actually valid for ifa_addr to be NULL.

[2019-09-22 02:20] reubenhwk commented on #112
Can you turn this into a pull request?

[2019-09-22 17:44] #112 closed

[2019-10-02 00:34] ipilcher opened #114 "How to advertise 2 prefixes on an interface?"
I am trying to configure radvd to advertise 2 prefixes on an interface - an internal ULA prefix and a **dynamic** prefix delegated by my ISP.

My configuration file looks like this:

[code]

But only the delegated prefix is being advertised.  (Verified with tcpdump/wireshark.)

What do I have to do to advertise **both** prefixes?

[2019-10-03 16:39] reubenhwk commented on #114
Not sure. It should advertise both. What does the log say?

Sent from my iPhone

[2019-10-08 20:14] ipilcher commented on #114
Aaaaand ... I can no longer duplicate the issue.  radvd is advertising both prefixes with the config file above.

Sorry for the noise!

[2019-10-08 20:14] #114 closed

[2019-10-10 04:04] reubenhwk commented on #114
Glad I could help! :D

Sent from my iPhone

[2019-10-11 01:54] ipilcher commented on #91
I'm facing the same issue, albeit I'm not using the ::/64 "magic prefix."  My setup is a bit more complicated, so I actually have a separate daemon on my "router" that polls my "firewall" for the delegated prefix and generates a new radvd.conf file when it changes.

Getting client devices to start using their new addresses in a timely manner seems to be the final challenge, and I've just discovere

[2019-10-19 09:02] romanrm opened #115 "man page contradicts itself for IgnoreIfMissing"
It states both that by default radvd exits, and that by default IgnoreIfMissing is on (which would make it not exit).

(For the record I prefer that by default it does NOT exit due to missing interfaces.)

Thanks

[code]

[2019-10-24 22:04] ipilcher opened #116 "DecrementLifetimes and preferred (vs valid) lifetime"
When **DecrementLifetimes** is set **on** for a prefix, radvd stops advertising that prefix when its preferred lifetime reaches zero.  I believe that it would be useful if radvd were to continue advertising such a prefix, with a preferred lifetime of zero, until its **valid** lifetime reaches zero. (This obviously assumes that the initial valid lifetime is greater than the initial preferred lifeti

[2019-10-25 19:47] reubenhwk commented on #116
I’ll have to reread you email carefully, but it sounds like the special prefix ::/64 is close to what you want. Maybe radvd should generalize that special prefix a bit more to support ::/56?

I thought there was already something similar to Base6to4Interface, but I don’t see it now.

From the man page: “Special prefix "::/64" is also supported on systems that implement getifaddrs() (on other syste

[2019-10-27 17:09] ipilcher commented on #116
The ::/64 special prefix is (mostly) orthogonal to this issue. (I probably could use it to advertise my "dynamic leaf prefixes," but AFAIK it doesn't help with the problem of getting systems on those leaf networks to **stop** trying to use the addresses.)

The behavior I'm interested in is using **DecrementLifetimes** on a prefix whose **preferred** lifetime is zero (but which still has a non-zero

[2019-10-27 22:44] markzzzsmith commented on #116
As the author of the DecrementLifetimes option, I don't fully understand why this proposal is required. I'll have to study and think about it further.

However, be aware that a ValidLifetime of less then 7200 seconds (2 hours) is invalid, and IPv6 hosts are supposed to ignore RA PIOs that have a VL of less than 7200 seconds - see RFC 4862, 5.5.3, part (e).

So I'd be wary of suggesting anything wh

[2019-10-27 22:47] markzzzsmith commented on #116
By the way, have you tried to use the DeprecatePrefix option? That tries to immediately deprecate addresses from the specified prefix, which seems to be somewhat close to what you're trying to achieve with a PL/VL of 300 seconds.

[2019-10-28 00:39] ipilcher commented on #116
The goal is to advertise a "deprecated" prefix for a limited period of time, so that systems will stop trying to use addresses in old prefix.

In my testing, host ignore a valid lifetime of less than 7200 if it is **less** than the current valid lifetime of an existing prefix. So a short valid lifetime (like the 300 seconds that I use) actually is honored by at least Linux (including Android) and

[2019-10-28 00:43] ipilcher commented on #116
I have.  The problem is "mobile devices" that ignore router advertisements when they're in various power-saving modes.

**DeprecatePrefix** only sends a single advertisement with a preferred lifetime of zero. A device that ignores this RA and then wakes up will continue trying to use the old prefix until its valid lifetime expires.

[2019-10-28 05:24] reubenhwk commented on #116
Can you check with your isp to see why your upstream address keeps changing?  How often does it change?  If ISPs keep changing the upstream address we’re going to have to start NATing IPv6 to shield ourselves from this nonsense. :/

Sent from my iPhone

[2019-10-28 07:11] markzzzsmith commented on #116
On Mon, 28 Oct 2019, 16:25 reubenhwk, <notifications@github.com> wrote:

Yes. This is the real problem.

A stable, always on Internet connection should always have the same
addresses.

If IPv6 needs to have NAT to avoid this problem, then there is no point to
IPv6.

The story of the work arounds the OP is trying to do to overcome what their
ISP is doing to them is horrible. I wouldn't use IPv6 if

[2019-10-28 07:50] markzzzsmith commented on #116
On Mon, 28 Oct 2019, 11:39 Ian Pilcher, <notifications@github.com> wrote:

There is no way to inform a host to immediately stop using an address.

The reason there isn't is because that creates a DoS attack opportunity. A
rogue host could spoof an RA with all of the link's PIOs with a VL of 0,
causing all hosts to immediately stop using all their addresses.

However, be aware that a ValidLifetime

[2019-10-28 14:45] ipilcher commented on #116
The issue isn't that it changes frequently.  (I honestly don't know how often it changes, as I'm just in the process of setting IPv6 up.)  The issue is that it **can** change (probably about as often as my IPv4 address.), and I want my home network to deal with such changes as gracefully as possible.

[2019-10-28 15:01] ipilcher commented on #116
ISPs are accustomed to charging extra for stable IP addresses.  Anyone who thinks that they're going to willingly give up on this revenue, just because the resource is question isn't actually scarce anymore, is living in a dream world.

IPv6.

All of the "workarounds" that I'm putting in place are there to avoid using NAT'ed ULAs.

ISP is doing to them is horrible. I wouldn't use IPv6 if it is tha

[2019-10-28 15:34] ipilcher commented on #116
Where do you see this?

Processing of "new" (not previously encountered) prefixes is described in 5.5.3(d) and it only mentions that the valid lifetime must be non-zero.

I think that you meant to say that a VL of 300 should be ignored if the host's current VL for the prefix is **greater** than 300, right?

it's purpose is to synchronise the ageing of prefix information on hosts by
reducing or dec

[2019-10-28 22:13] markzzzsmith commented on #116
On Tue, 29 Oct 2019, 01:45 Ian Pilcher, <notifications@github.com> wrote:

Yes. This is the mistake.

A conversation about this issue and a related Internet Draft (it has come
up before) is going on in the IETF.

Basically ISPs are trying to persist with their existing IPv4 per
BNG/BRAS/NAS IP pool model. That model is actually a carry over from dial
up. It's decades old.

IPv4+NAT was similar eno

[2019-10-28 22:25] markzzzsmith commented on #116
On Tue, 29 Oct 2019, 02:01 Ian Pilcher, <notifications@github.com> wrote:

This is an opportunity for ISPs to distinguish themselves from their
competitors. Artificial scarcity is so easy to compete against.

If IPv6 needs to have NAT to avoid this problem, then there is no point to

Thats slightly different. Reserving the right to change the prefix doesn't
mean that they should try to make it as

[2019-10-28 23:04] markzzzsmith commented on #116
On Tue, 29 Oct 2019, 02:34 Ian Pilcher, <notifications@github.com> wrote:

I forget that you're dealing with a new prefix, because it isn't the common
case i.e. it's the first RA PIO, where as the common case is the second and
subsequent set of ongoing RAs for the prefix.

A PIO VL of 300 should be ignored if the host's current VL for the prefix

Yes, however I'm reading part (e), because that's t

[2019-10-28 23:41] ipilcher commented on #116
Closing this issue.

[2019-10-28 23:41] #116 closed

[2020-03-16 16:22] rsftsi opened #118 "radvd - default getway"
I configured a network using radvd.conf in the network gateway, everything it's working well.

**The problem:** When I stop the radvd process the default gateway of all machine is removed instantaneously. When this occur the whole network is not working - all hosts in the network stop. In my point of view this is a big problem that I could not solve yet.

**My question:** Is there some way for the

[2020-03-17 04:36] pyk1998 commented on #91
Having the same issue when ISP reconnect and assign new prefix...however the client in LAN still uses address with old prefix which lose IPv6 connection until reconnect to the network.

[2020-04-30 17:17] romanrm commented on #91
Just hit this with my multiwan config too. It's really inconvenient that reload is not equal to restart for DeprecatePrefix.

[2020-05-10 14:25] Testsr commented on #118
The  radvd.conf below has  RemoveRoute on. Is this the current config of the gateway?

[2020-05-10 14:54] rsftsi commented on #118
Actually this is the actual configuration, but I had tried "RemoveRoute off;" too, but the result is the same.

[2020-05-14 03:08] #115 closed

[2020-06-02 09:00] tvand opened #122 "radvd 2.18 on macOS: no route to host"
I compiled radvd 2.18 from source on macOS High Sierra. The host to run this has two network interfaces, en0 and en3. I'd like to announce a route on en3.

The log file shows:
[code]

If I try to `ping6 ff02::1`, I get the same behavior - no route to host. Pinging `ff02::1%en3` works, however. Could it be that the zone index is missing or wrong? How would I debug this?

[2020-06-05 14:34] greyslater commented on #45
I didn't fully understand
Can I use this to realy "spoof" the address of my acutal router?

My setup:

I have a Juniper SRX100 (Router) which can do RA but **not RRDNS**
so my idea was obvious.

use radvd on another box to do a RA including also RRDNS
but here the problem starts because radvd presents it's own LLv6 address as router instead of my Junipers address

another solution for me would to

[2020-06-06 15:48] greyslater commented on #45
I found a solution myself:

My Juniper SRX100 (Router) is configured to do the RA
but because with JunOS 12.1 (which is maximum for SRX100) it can't do RRDNS (which was implemented not before JunOS 14.1)

another box with radvd is doing the RRDNS without "disturbing" my routing part

This is achived by

`
interface eth0 {AdvSendAdvert on;
    AdvDefaultLifetime 0;
    prefix 2001:470:1f1b:15f::/64

[2020-06-06 15:54] greyslater commented on #45
I found a solution myself:

My Juniper SRX100 (Router) is configured to do the RA
but because with JunOS 12.1 (which is maximum for SRX100) **it can't do RRDNS** (which was implemented not before JunOS 14.1)

another box with **radvd is doing the RRDNS** without "disturbing" my routing part

This is achived by **AdvDefaultLifetime 0;** the clients won't use it as route and take the RRDNS portion o

[2020-06-15 04:42] yugun opened #123 "There is no "configure" file"
I'm trying to build radvd-master, but there is no "configure" file.

Should I create "configure" file with autotools and "configure.ac"?

[2020-06-16 17:32] reubenhwk commented on #123
Run autogen.sh

Sent from my iPhone

[2020-07-06 01:35] Neustradamus commented on #91
Any news?

[2020-07-06 01:35] Neustradamus commented on #85
Any news?

[2020-07-06 01:35] Neustradamus commented on #25
Any news?

[2020-07-06 01:36] Neustradamus commented on #67
Any news?

[2020-07-06 01:36] Neustradamus commented on #39
Any news?

[2020-07-06 01:38] Neustradamus commented on #108
Any news?

[2020-07-06 01:39] Neustradamus commented on #99
Any news?

[2020-07-06 01:49] CRCinAU commented on #99
There was a long time ago.... Turn on ipv6 forwarding on the linux system and it will set the correct flags in the right places...

ie sysctl net.ipv6.conf.all.forwarding=1

[2020-07-06 01:49] #99 closed

[2020-09-22 03:08] Neustradamus opened #125 "New version: 2.19?"
It will be possible to have a new release?

[2020-09-22 20:51] reubenhwk commented on #125
Yes. I’ll look over the outstanding pull requests and look at cut a release this week.

Sent from my iPhone

[2020-09-28 20:56] mlen opened #126 "Please support advertising dynamic IPs of DNS servers via RDNSS"
radvd supports selecting the prefix automatically when `::/64` is used as a special value, however only static IPs are supported in RDNSS messages.

I think it would be a useful feature to support a special value like `::` for RDNSS to pick one non-link-local IP assigned to the interface and use it as the actual value.

This would allow to run the DNS server on the same machine without having to h

[2020-10-06 02:50] Neustradamus commented on #125
@reubenhwk: Thanks for the 2.19 version!

But in release section, we see: https://i.ibb.co/wcsyNqR/radvd-2-18rc1.png
- https://github.com/reubenhwk/radvd/releases

Can you add changelog for 2.18 and 2.19?
I think that you can remove the changelog for 2.18rc1 no? (better in 2.18)

And can you do an announcement on ML/website?
- http://www.litech.org/radvd/

Thanks a lot in advance.

[2020-10-06 19:45] reubenhwk commented on #125
Yes, I plan to update the website soon.

On Mon, Oct 5, 2020 at 7:51 PM Neustradamus <notifications@github.com>
wrote:

[2020-10-06 19:47] reubenhwk commented on #125
Oh wait I think my last response was meant for a different email thread...
I'll reread this thread later and hopefully respond appropriately.

On Tue, Oct 6, 2020 at 12:45 PM Reuben Hawkins <reubenhwk@gmail.com> wrote:

[2020-10-21 01:53] Neustradamus commented on #125
@reubenhwk: Thanks for website but unstable is in highlight here:
- https://github.com/reubenhwk/radvd/releases

And no announcement on ML :/

[2020-10-22 00:50] Neustradamus opened #128 "Expired https certificate since 2013"
There is a problem with HTTPS:
- https://www.litech.org/radvd/

Expired certificate since 2013.

https://litech.org/radvd/ does not work.

Note : It is better to have a default website without www.
- https://dropwww.com/why

[2020-10-22 04:57] reubenhwk commented on #128
I'd like to drop the whole website and just let it all be hosted on
Github.  I'm not an admin at litech.  It'd be easier for me to move away
from it... It's just that that url and site has been maintained there for
well over a decade. I'm considering making one final update to the website
to point anybody to the Github project for future releases...

On Wed, Oct 21, 2020 at 5:50 PM Neustradamus <n

[2020-10-22 05:00] reubenhwk commented on #128
Also I love this: https://dropwww.com/why

Reminds me of the story about the woman who always cut the fish to fit a
pan lost long ago by her grandmother....because that's the way she always
did it.

On Wed, Oct 21, 2020 at 9:56 PM Reuben Hawkins <reubenhwk@gmail.com> wrote:

[2020-11-04 08:20] vp1981 opened #129 "Archive detached signature"
Hello,
versions prior to 2.19 have detached signatures (.asc) but 2.19 doesn't have one. Is it on purpose? Should I use github git repo as verified source of radvd?

[2020-11-07 04:04] reubenhwk commented on #129
I'd suggest using Github.  I'm not keen on continuing to maintain the RADVD
website and I'd like to replace it with a message to get all future updates
from Github.

On Wed, Nov 4, 2020 at 12:21 AM Vladimir Lomov <notifications@github.com>
wrote:

[2020-11-07 07:35] vp1981 commented on #129
Hello. Yes, I already use source from github (I'm using Archlinux and has updated PKGBUILD to build new radvd fetching source from github). May be it is worth to sign tags then? Right now I don't use such feature but think it would valuable thing to have. And small nitpick: the "Release" part of "main" page on github leads to "Release" page that doesn't list latest release, I see it only on "Tag"

[2020-11-10 10:04] FledgeXu opened #130 "Configure fails."
## Description:
When I run: `./configure --prefix=/usr/local --sysconfdir=/etc --mandir=/usr/share/man`, it fails.
## OS Verison:
[code]
## Log:
[code]
[code]
[code]

[2020-11-17 10:49] anthraxx commented on #129
@reubenhwk I understand that you do not want to maintain the website, however would it be possible to gpg sign your git tags or upload detatched signatures to the git releases?
[code]
you can put that in a Makefile/script and use some variables. It would be super awesome if you can keep signing releases, this is a important part of supply chain security authenticating the legitimacy of a release f

[2020-11-20 18:28] Supermathie opened #131 "controlling the LLA used by radvd for RAs"
TL;DR: We are running into a situation where radvd is picking the source IP for outgoing advertisements that *don't want it to use*.

radvd version: 2.17, debian package 1:2.17-2

Our setup:

* each server has a globally routable /64 network configured on a local bridge (for docker containers)
* this network is advertised to other servers via radvd:
[code]
* our *edge* servers also have this but a

[2020-11-27 05:40] Neustradamus commented on #125
@reubenhwk: Any news for the 2.19 announcement?

Always 2.18 RC1 instead of 2.18 here:
- https://github.com/reubenhwk/radvd/releases

And no 2.19 here:
- http://lists.litech.org/listinfo/radvd-announce-l
- http://lists.litech.org/listinfo/radvd-devel-l

Thanks in advance.

[2020-12-06 09:15] stappersg commented on #125
Thanks for the new release and the announce emails.

Thing I miss is http://v6web.litech.org/radvd/dist/radvd-2.19.tar.xz.asc  There is http://v6web.litech.org/radvd/dist/radvd-2.17.tar.xz.asc and http://v6web.litech.org/radvd/dist/radvd-2.18.tar.xz.asc

Will there be a `radvd-2.19.tar.xz.asc` ?
[code]

[2020-12-06 09:25] stappersg commented on #125
Ah, I just did see #129.  That issue expresses better what I'm missing.

[2020-12-06 09:27] stappersg commented on #122
FWIW   v2.19 has been released.

[2020-12-06 09:30] stappersg commented on #123
Yes,  `./autogen.sh`  generates the `configure` script.

@yugun  please confirm

[2020-12-06 15:26] Neustradamus commented on #129
I think it is needed to have a perfect 1.20 soon.
- With last PRs

- With a perfect announcement at the same time:
- Mailing lists
- Official website
- Releases section (always not done for 2.18 and 2.19) : https://github.com/reubenhwk/radvd/releases
- Signature

[2020-12-06 15:26] Neustradamus commented on #125
I think it is needed to have a perfect 1.20 soon.
- With last PRs

With a perfect announcement at the same time:
- Mailing lists
- Official website
- Releases section (always not done for 2.18 and 2.19) : https://github.com/reubenhwk/radvd/releases
- Signature

[2020-12-07 06:40] #123 closed

[2020-12-07 09:11] stappersg commented on #123
@Neustradamus  please has a close look at the time stamps of the entries in this issue.

[2020-12-07 20:49] reubenhwk commented on #122
If you haven't already, try increasing the log level...

" -d, --debug=NUM Set the debug level. Values can be 1, 2, 3, 4 or 5.\n"

...and see what else the log tells you.  I used to compile radvd and test
it on OSX, but haven't been doing so for a long while.  It uses some
different sources vs linux.  The OSX stuff is most likely using the bsd44
source rather than the linux ones (some of the files

[2020-12-08 19:25] ag88 opened #133 "'impossible' bridging on ipv6 /64 subnets"
i'd like to share a (un)related but interesting project

[ndppd](https://github.com/DanielAdolfsson/ndppd/tree/1.0-devel)
radvd does its job well router advertisements for prefix-discovery

what is interesting is 'slaac' stateless ip address auto config gives you a /64 ipv6 address, which is enormously bigger than the whole of ipv4 internet. so it isn't surprising that people try to 'bridge' /64 s

[2020-12-09 13:37] vp1981 opened #134 "Base6Interface ppp0 and prefix ::/64"
Hello,
my Internet provider gives me IPv6 /48 (/64) and I tried to provide IPv6 addresses to my LAN using radvd. I use the following code:
[code]

If I understand `radvd.conf(5)` correctly, with `::/64` `radvd` should pick up address from `ppp0` device and advertise /64 to LAN but `radvd` reports error:
[code]
Do I do something wrong or it is expected behaviour?

P.S. `radvd.conf(5)` says that `::

[2020-12-10 00:56] vp1981 commented on #134
Ok, I found when this message was introduced (by commit 0d891e81a93ce7e114e7a07b882526a6ae1b1fa2) and _why_ and I remember I reported (but don't remember when and for what project) about `getifaddrs` strange behavior on other interface (`teredo`). Then I could consider the `radvd` behavior as intended but then it confuses me with `Base6Interface` and `Base6to4Interface`. The latter could work with

[2020-12-11 06:46] vp1981 commented on #134
Hello,
I might be wrong about my interpretation of the issue. I used example from `getifaddrs(3)`, added small part and run on some hosts. It seems `getifaddrs` works fine even for `ppp0` **and** `teredo`. The "devices" are listed several times if they have both IPv4 and IPv6 or several of them and `ppp0` as well as `teredo` are not exception here. What makes `ppp0` and `teredo` special is that th

[2020-12-11 07:07] vp1981 commented on #134
I run `radvd -d 5 -m logfile -l /tmp/radvd.log` and see that `radvd` actually uses IPv6 address on `ppp0`, so this message is misleading and I think it is better to change log level to `DEBUG`.

[2021-01-08 07:03] Neustradamus commented on #129
@reubenhwk: There is a big problem for Debian 11, the freeze is soon (2021-01-12).
The next will be in 2023.

Can you solve it with a 2.20 now?
Please read all steps to do at the same time?
- https://github.com/reubenhwk/radvd/issues/129#issuecomment-739518291

The 2.19 is not here: https://tracker.debian.org/pkg/radvd
cc @stappersg

It is linked to:
- https://bugs.debian.org/cgi-bin/bugreport.cgi

[2021-01-09 08:05] reubenhwk opened #135 "Looking for a new maintainer"
I'm ready to retire...

[2021-01-09 10:24] Neustradamus commented on #125
@vp1981 @anthraxx @stappersg: @reubenhwk has generated signatures:
- https://github.com/radvd-project/radvd/releases/tag/v2.19

[2021-01-09 10:25] Neustradamus commented on #129
@vp1981 @anthraxx @stappersg: @reubenhwk has generated signatures:
- https://github.com/radvd-project/radvd/releases/tag/v2.19

[2021-01-09 11:06] foxxx0 commented on #129
Unfortunately these signatures have been made with a RSA key `0xBE8BA2B61F1B1E57` that I can't seem to find anywhere.

[code]

The previous released have been signed with RSA key `0x6FE19F21451C9A2B` / fingerprint `10E2 5110 3817 2B51 6DCA  5BD3 6FE1 9F21 451C 9A2B` and uid `Reuben Hawkins <reubenhwk@gmail.com>`.

So as of right now, these signatures aren't helping at all.

[2021-01-09 11:57] stappersg commented on #135
FWIW [https://github.com/reubenhwk/radvd/issues/135](https://github.com/reubenhwk/radvd/issues/135)
links to [https://github.com/radvd-project/radvd/issues/135](https://github.com/radvd-project/radvd/issues/135)

Actual
[code]

In other words: some kind of rename did happen ...

[2021-01-09 12:16] stappersg commented on #129
@anthraxx expressed it already very well earlier:

I think #135 is both _problem_ and _solution_.

[2021-01-09 18:20] Neustradamus commented on #129
@reubenhwk has generated signatures and it is the last 2.19 from him.

@reubenhwk, can you look the problem of signature before?

The radvd repositories has moved from:
- https://github.com/reubenhwk/radvd to https://github.com/radvd-project/radvd
- https://github.com/reubenhwk/radvdweb to https://github.com/radvd-project/radvdweb

Thanks in advance.

[2021-01-09 18:24] Neustradamus commented on #129
Currently, there is always the original website, files and signatures are on it too:
- http://www.litech.org/radvd/

[2021-01-09 18:29] Neustradamus commented on #135
After the announcement, the radvd repositories have moved from:
- https://github.com/reubenhwk/radvd to https://github.com/radvd-project/radvd
- https://github.com/reubenhwk/radvdweb to https://github.com/radvd-project/radvdweb

[2021-01-21 01:36] Neustradamus commented on #129
@ all: @robbat2 has done new signatures:
- https://github.com/radvd-project/radvd/releases/tag/v2.19

[2021-01-21 01:37] Neustradamus commented on #125
@vp1981 @anthraxx @stappersg: @robbat2 has done new signatures:
- https://github.com/radvd-project/radvd/releases/tag/v2.19

[2021-01-21 01:41] Neustradamus commented on #125
@vp1981 @anthraxx @foxxx0, @stappersg: @robbat2 has done new signatures:
- https://github.com/radvd-project/radvd/releases/tag/v2.19

[2021-01-22 16:34] foxxx0 commented on #129
Thanks, but in order to keep the trust chain intact, we still need a gpg-signed statement from @reubenhwk (with `0x6FE19F21451C9A2B` / fp `10E2 5110 3817 2B51 6DCA  5BD3 6FE1 9F21 451C 9A2B`)  that @robbat2 is now in charge of this project and explicitly stating that the key `0xEE05E6F6A48F6136` with fingerprint `7D0B 3CEB E9B8 5B1F 825B  CECF EE05 E6F6 A48F 6136` is now the official and approved

[2021-01-22 17:44] Neustradamus commented on #129
@foxxx0: @robbat2 has already worked previously:
- https://github.com/radvd-project/radvd/pulls?q=is%3Apr+author%3Arobbat2+

[2021-01-22 18:49] robbat2 commented on #129
@foxxx0 Reuben's old key is no longer available. Reuben does have a new key, but there's no meaningful handover message possible since Reuben lost their old key.

From my newer key 0xEE05E6F6A48F6136, you can see transitive signatures to my older key 0xEE05E6F6A48F6136, and then onto the main kernel WoT.

I'll also point out that there was also no chain of trust between Reuben's older key 0x411FA8

[2021-01-22 22:41] stappersg commented on #129
On Fri, Jan 22, 2021 at 10:49:40AM -0800, Robin H. Johnson wrote:

Each chain has to start with a first link

[2021-01-23 21:47] RICCIARDI-Adrien opened #137 "Add automated build support."
Hi everyone,

I could try to add automated build using GitHub Actions, so each repository push and each pull request are automatically checked against a bunch of supported operating systems.
I can currently add Linux, Solaris (I don't know if this one is relevant) and (maybe) FreeBSD builds. I can also add the same matrix build that I made for [PPP](https://github.com/paulusmack/ppp), so a pull re

[2021-01-24 00:23] stappersg commented on #137
On Sat, Jan 23, 2021 at 01:48:03PM -0800, Adrien RICCIARDI wrote:

Patches welcome

[2021-01-24 11:15] stappersg opened #138 "Undefined state"
This issue is for expressing my concern of the undefined state this project is in.

Executive summary:    No one is clearly saying  _I take the lead for the time being_

There is #135 with some vague update _yes,  a rename did happen_.  Nowhere is any sign of whom did that.

Merge request #136  is not yet touched by some one who has merge privilege.

The thing that makes me most uncomfortable is t

[2021-01-24 19:39] stappersg commented on #137
I think that became #139.  If so, is this issue obsolete.

[2021-01-24 21:02] Neustradamus commented on #138
@stappersg:
1/ @reubenhwk stops the development of radvd: https://github.com/radvd-project/radvd/issues/135
2/ Reuben has moved radvd and radvdweb into the radvd-project organization
2/ I have sent you 2 emails the 9 January 2021 (the day of the announcement of Reuben retirement) and one new 11 January 2021 in more https://github.com/radvd-project/radvd/issues/135#issuecomment-757348031 + https://

[2021-01-24 23:01] robbat2 commented on #129
A question for both @foxxx0 @stappersg:
As @reubenhwk has lost their prior key, what further assurances do you believe are possible and meaningful to show that @reubenhwk has handed control of the project to myself and @Neustradamus?

Once we've got most of this sorted out, including getting more willing developers into the GitHub organization, so they can provide meaningful reviews of code, I wou

[2021-01-24 23:10] robbat2 opened #140 "New contributors & reviewers welcomed"
(sticky issue)

Welcome! The `radvd` project would like to have more regular contributors and reviewers present to encourage the long-term health of the project. This includes all persons who package `radvd` on various distributions.

Current maintainers:
- Robin H. Johnson @robbat2  - past Gentoo maintainer for radvd
- @Neustradamus

Open invitations:
- @prometheanfire - Gentoo maintainer
- @stap

[2021-01-24 23:12] robbat2 commented on #135
@reubenhwk Can you try to do some manner of handoff here visibly, so that @stappersg and others can see your intent. Since we had some extensive discussions via email, we need to followup more publicly.

[2021-01-24 23:41] robbat2 commented on #130
Your host does not have `pkg-config` present when `autogen.sh` was run. You should install some pkgconfig implementation and then re-run autogen.

[2021-01-24 23:41] #130 closed

[2021-01-24 23:41] robbat2 commented on #138
@stappersg I marked myself as public in the organization for you.

While I'm willing to take ownership of the project, I'm not a fan of the BDFL model overall, and it certainly shouldn't exempt anybody, including myself from having our changes extensively reviewed.

As I wrote on #136, I'm looking for more clear reviews before I click the merge button.

As I wrote in #129, if @reubenhwk hadn't los

[2021-01-24 23:42] robbat2 commented on #128
https://radvd.litech.org/ is now powered by GitHub sites and has valid HTTPS cert.

[2021-01-24 23:42] #128 closed

[2021-01-24 23:53] Neustradamus commented on #128
@robbat2: I had forgotten this issue ^^

[2021-01-25 00:09] robbat2 commented on #126
concept: approved!
finer details: may need more careful selection ability, see #131 where control of the advertising address is desirable.

As an alternate solution, on my own networks, In addition to the `::`, I explicitly advertise a /64 ULA from fc00::/7 and use that network for DNS & some local-only traffic. The DNS server process binds to `(ULA)::53` , which is advertised from RDNSS, so it's

[2021-01-25 00:22] robbat2 commented on #131
#127 will help with this issue, but probably further work is needed, as you also want to avoid /128 addresses, and that code is driven by lifetime, not the /128 or the `deprecated` flag (which can be present even with a high lifetime)

[2021-01-31 07:24] Neustradamus commented on #125
@reubenhwk has done it.

[2021-01-31 07:24] #125 closed

[2021-01-31 07:26] Neustradamus commented on #129
Solved by @robbat2.

[2021-01-31 07:26] #129 closed

[2021-02-02 10:43] Neustradamus commented on #138
I think that it is clear, we can close this issue now.

[2021-02-02 10:43] #138 closed

[2021-02-03 22:56] Neustradamus commented on #129
@stappersg: Have you a date to have radvd 2.19 into Debian?

[2021-02-04 16:55] reubenhwk commented on #135
Yes, I'm handing off radvd to robbat2, who's been a co-maintainer for some while now.  I've moved the radvd project from my personal github account to the radvd-project account.  My original gpg key is gone so there will be no signature to verify the move.

[2021-02-04 17:59] Neustradamus commented on #129
One hour ago, @reubenhwk has done a comment here: https://github.com/radvd-project/radvd/issues/135#issuecomment-773455436.

@stappersg: Can you now update radvd in Debian?
- https://tracker.debian.org/pkg/radvd

@foxxx0: Can you now update radvd in Arch Linux?
- https://archlinux.org/packages/community/x86_64/radvd/

Thanks in advance.

[2021-02-04 21:41] stappersg commented on #129
https://github.com/radvd-project/radvd-project.github.io/commit/6e3e5f7e20076052139734b63635810eafa04553  where to get the pubkey of which it was done with?

[2021-02-05 14:35] Neustradamus commented on #129
@stappersg: It is here:
- Assets: https://github.com/radvd-project/radvd/releases/tag/v2.19
- https://github.com/radvd-project/radvd-project.github.io/commit/9d227cccb247307de1796939eb6c0b9650f5d102
- https://radvd.litech.org/

I have added links in index.html:
- https://github.com/radvd-project/radvd-project.github.io/commit/91d3ebf1baa42b6ac46db43dab1ed7f7887d2b85

[2021-03-17 21:02] Vista2003 opened #142 "How do I set radvd to ignore my ISP DNS?"
I have radvd running on my EdgeRouter X and since Ubiquiti has been unhelpful, I thought that bringing it here might lead me closer to the answer.  I have a Pi-hole that I want it to use as a DNS server, I've figured out a stop-gap measure that if I would edit the radvd.conf file and restart the service it would change it but only temporarily until something reverts it back to using the ISP DNS se

[2021-03-17 23:07] stappersg commented on #142
And what will be your next step?

[2021-03-17 23:09] ThinkPadX220 commented on #142
Asking here was my next step and trying out whatever is suggested here

[2021-03-17 23:18] stappersg commented on #135
The handover did happen.

[2021-03-18 05:52] robbat2 commented on #135
Closing this issue now :-)

[2021-03-18 05:52] #135 closed

[2021-03-18 06:03] robbat2 commented on #142
Here's what I use on my UBNT ERPro8 (running v2.0.x firmware) successfully:
[code]
And that address points to an `unbound` DNS server elsewhere on my network.

Give that a try, and it should generate RDNSS entries

You should go and poke around in the files of `vyatta-ipv6-rtradv` on the EdgeRouters to drive radvd better

[2021-03-18 10:42] stappersg commented on #122
I would like to have the privilege of power to close issues like this.
Yes, I saying that I, teammember of _radvd project_, feel unable to help.

[2021-03-18 18:26] stappersg commented on #122
(Thanks for granting, now using that privilege to reduce the number of open issues.)

@tvand it is the lack of any follow-up from you that made me close this issue. Do know that the

is since closing of #135

[2021-03-18 18:26] #122 closed

[2021-03-18 18:36] stappersg commented on #73
After more than three years of silence.

[2021-03-18 18:36] #73 closed

[2021-03-18 18:40] #39 closed

[2021-03-18 18:44] stappersg commented on #140
Yes, you are invented to express  _radvd project has my support_.
No demands made, you chip in what you want to chip in.

[2021-03-18 18:47] stappersg commented on #142
Thank you @robbat2

I look forward to the feedback.

[2021-03-19 16:56] ThinkPadX220 commented on #142
I've tried putting that command into both eth0 and ppoe0 to no effect :(
I'll have a poke around vyatta-ipv6-rtradv now

[2021-03-27 03:05] Napsterbater opened #143 "radvd RDNSS default lifetime is wrong, not inline with RFC8106."
RFC8106 5.1 says RDNSS Lifetime "SHOULD by default be at least 3 * MaxRtrAdvInterval"

additionally

Found some radvd references that say

Default: 2*MaxRtrAdvInterval

But that doesn't seem to apply, seems it's simply 1*MaxRtrAdvInterval

Also found

Which contradicts RFC8106's recomendations.

[2021-03-27 06:54] stappersg commented on #142
@Vista2003  Please provide us with at least one reason why this issue should remain open.

[2021-03-28 10:52] Vista2003 commented on #142
I've had a poke around and can't find anything relating to DNS, could you give me some pointers?

It's up to you if you want to close it or not since this is starting to get out of the scope of radvd

[2021-03-30 13:12] RICCIARDI-Adrien opened #145 "Improvements/build issues for FreeBSD"
Hi,

We may integrate some FreeBSD upstream patches into next radvd release, like this one : https://github.com/freebsd/freebsd-ports/blob/master/net/radvd/files/patch-device-bsd44.c (I did not try yet to build master radvd with this patch applied, I currently have some autoconf issues with FreeBSD 12).
There is also this patch : https://github.com/freebsd/freebsd-ports/blob/master/net/radvd/files

[2021-03-30 18:04] RICCIARDI-Adrien commented on #145
OK, it will be up to FreeBSD guys to show up if they want to upstream their patches.

Are the "check" tests, built and executed with command `make check`, intended to work on BSD ?

[2021-03-30 18:14] RICCIARDI-Adrien commented on #137
Do you want to add Fedora or OpenSUSE Linux distributions CIs ?

[2021-03-30 19:58] stappersg commented on #137
On Tue, Mar 30, 2021 at 11:14:47AM -0700, Adrien RICCIARDI wrote:

All patches will be reviewed.

And the future will show what CI did bring the radvd project.

[2021-04-01 22:02] robbat2 commented on #137
I believe this task has been completed, and further work is just in expanding the matrix, so the issue can be closed.

[2021-04-01 22:02] #137 closed

[2021-04-01 22:59] robbat2 commented on #142
Inside `vyatta-ipv6-rtradv` is this script: `/opt/vyatta/sbin/vyatta_gen_radvd.pl`
Look for `name-server`, which has at least this block:
[code]

If that file doesn't contain these lines at all, then I'm not sure what UBNT is doing differently on your hardware, since I'm running on the ERPro8 and you are on the X line.

[2021-04-01 22:59] robbat2 commented on #142
I'd say further questions in this thread probably belong on UBNT's forums.

[2021-04-01 22:59] #142 closed

[2021-04-02 04:38] robbat2 commented on #108
Apologies for not getting back to you sooner.
The interesting part in your log output is this messages:
`[Apr 08 11:19:20] radvd (438): netlink: eth0, ifindex 2, address deleted`
That's specifically the kernel telling radvd that one of the IPs on the interface eth0 has been deleted.

So what deleted the IP `fd11:abc:abc:abc:204:9fff:ff33:4455` from eth0 on your router? It was NOT radvd, at least n

[2021-04-02 04:38] #108 closed

[2021-04-02 05:09] robbat2 commented on #133
Thanks for mentioning it, while I don't feel the functionality belongs in RADVD directly, I do feel like it would be a valuable addition to the documentation, and would happily accept PRs for that.

I'll leave this open for now, and close after 2021/04/08

[2021-04-02 05:20] robbat2 commented on #79
This was fixed in
https://github.com/radvd-project/radvd/pull/113
After no responses to test requests

[2021-04-02 05:20] #79 closed

[2021-04-02 05:39] robbat2 commented on #145
I emailed the author of those patches

[2021-04-02 05:57] #143 closed

[2021-04-14 00:40] mcr opened #153 "thoughts on regression testing for netlink"
I have thought a bunch about how to test netlink dependant things.
I looked at trying to put capture/replay code into libnl, but I gotta say that I found libnl not that helpful, and I had other things to do.
radvd doesn't use libnl, and the netlink.c code is pretty sweet.
It's not just netlink.c but also recv.c and send.c (really_send()) that need to have a seam inserted.
The easiest in my opinion

[2021-04-14 06:32] ag88 commented on #133
hi robbat,
I reviewed the codes and wikis and it seemed that isn't quite a good place to place this as this is partially 'off-topic' just that it is somewhat related. we'd let this issue be the 'documentation' so that perhaps some one did a search in one of the search engines or that they review the issue logs they'd find this. hence, I've closed this issue here

[2021-04-14 06:32] #133 closed

[2021-04-14 11:29] stappersg commented on #153
To me that is a reasonable path forward.

[2021-04-18 22:20] mcr commented on #153
I can't promise that I'll get this organized before the end of April, so I suggest not blocking #127.

[2021-05-02 08:30] jsarenik opened #157 "Segmentation fault when client is our link-local"
I successfully use `radvd` with the same config (see below) on armv7l glibc Linux. Now moving the service to x86_64 Musl-libc (Alpine Linux) and experiencing this issue:

Tested with current `master` 81862e7b36cb20c6cea80a2edd0c472888f4ce1e

[code]

Sometimes the last two lines of output are flapped, i.e. last-1 line shows `Segmentation fault`.

The config file:

[code]

If `AdvSendAdvert` is set

[2021-05-02 09:13] stappersg commented on #157
On Sun, May 02, 2021 at 01:30:53AM -0700, Ján Sáreník wrote:

Advice:  Reproduce with `gdb radvd -n -C /etc/radvd.conf -d5 -m stderr_clean`
and report the backtrace

[2021-05-02 09:55] jsarenik commented on #157
Using `gdb (GDB) 10.2` like this:

[code]

This is the output:

[code]

[2021-05-02 09:58] jsarenik commented on #157
With the missing stderr output it looks [like this](https://bin.bublina.eu.org/?7a878346826accc3#FaqrYCUkPjtgRUMtFvHBwWc6xdGt1ZtoxtvaS4iLqpZX).

[2021-05-02 10:45] stappersg commented on #157
The
[code]
is a clue to make _Musl-libc_  and _compiling for Alpine Linux_  prime suspect.

Advice:  Do a websearch on `musl-libc alpine memchr strlen`.

[2021-05-02 12:41] jsarenik commented on #157
Thank you @stappersg! Problem fixed.

I had `fe80::aa20:66ff:fe3f:1909` listed in `clients` and it is the link-local address of the host where I am moving `radvd` now. After removing this address everything works well.

Thank you!

[2021-05-02 14:45] reubenhwk commented on #157
Is there still a segfault in the code?  Sounds like something needs to be fixed.

Sent from my iPhone

[2021-05-02 18:14] jsarenik commented on #157
@reubenhwk Yes please. The code does not check if one of `client`s is _our_ link-local address and segfaults probably when trying to send RA to this address.

It would be nice if `radvd`'s config file check would complain about it.

[2021-05-02 19:11] #157 closed

[2021-05-02 19:12] stappersg commented on #157
Patches welcome.

[2021-05-02 19:31] stappersg commented on #157
In case that is too much effort in a near future, start with making a fresh issue about the idea this issue did bring.

[2021-05-03 18:45] jsarenik opened #158 "musl-libc: segfault when link-local address is listed as a client"
According to suggestion in [#157](https://github.com/radvd-project/radvd/issues/157#issuecomment-830859620) I am making this fresh issue. This issue is related to [musl-libc](https://www.musl-libc.org/)-only.

A minimal config file example:

[code]

The config file contains the link-local address of current host by error. It was forgotten there when the config file was transferred from another hos

[2021-05-03 18:47] jsarenik commented on #157
@stappersg done: https://github.com/radvd-project/radvd/issues/158

Actually I have no idea how to fix it.

[2021-05-09 19:04] deep-42-thought opened #159 "Is it possible to delegate an ipv6-prefix with radvd?"
I get a /48 prefix from upstream dhcp6, of which I advertise two /64 prefixes on downstream interfaces via radvd. Now, I'd like to delegate another /64 (or anything between /48 and /64) prefix to one client on one of those interfaces. Is that possible with radvd? I seem unable to find any documentation on how to delegate a whole prefix somewhere.

[2021-05-09 19:22] stappersg commented on #159
FWIW:  I don't understand the request

Advice: Rewrite the request in other words

[2021-05-09 19:47] deep-42-thought commented on #159
Ok, I'll elaborate a little more (skip all the details, which you don't want to know):

My router "archlix" runs radvd to advertise X:Y:Z:1::/64 and X:Y:Z:2::/64 subnets on enp0s11 (ethernet/lan) and wlp0s12 (wifi) respectively. The whole X:Y:Z::/48 is routed to archlix from my IPv6 tunnel broker (on some other interface).
Now, I have an openWRT router "buoy", which connects on wlp0s12, gets a pro

[2021-05-09 20:30] stappersg commented on #159
Closing this _help me to design my network_.

[2021-05-09 20:30] #159 closed

[2021-05-10 03:45] deep-42-thought commented on #159
There seems to be some misunderstanding here:
I'm not asking how to design my network, I'm asking, if some feature (prefix delegation) is possible with radvd.

[2021-05-10 14:39] mcr commented on #159
deep-42-thought ***@***.***> wrote:

No, you need a dhcpv6-PD server.  It's not in the RA protocol, alas.

[2021-05-13 20:11] mm1ke commented on #25
For some days now I'm also trying to fix this issue on my firewall.

I have two physical interfaces: `enp2s0` and `enp1s0`. On `enp1s0` there are also 2 vlans configured: `enp1s0.70` and `enp1s0.80`.
For the interfaces `enp1s0` and the two vlans I'm having a radvd config which provides these interfaces with IPv6. There are ULA's and GUA's addresses configured. The config looks as following:

[code

[2021-10-05 18:37] robbat2 commented on #158
Can do a debug build, and put that coredump through gdb for a backtrace?

[2021-10-06 11:00] jsarenik commented on #158
@robbat2 Yes. I will wrte here as soon as it is ready.

[2021-10-06 11:10] jsarenik commented on #158
@robbat2 Oops, do I need any options when running `./configure`? So far I see only addresses in the core:

[code]

And it is current HEAD (b368cb9) compiled with `-g` (default).

[2021-10-06 11:11] jsarenik commented on #158
$ file /usr/local/sbin/radvd
    /usr/local/sbin/radvd: ELF 64-bit LSB pie executable, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib/ld-musl-x86_64.so.1, with debug_info, not stripped

[2021-11-16 16:08] richfelker commented on #158
From the backtrace, this is obviously the result of calling a function without a declataion, which would have been caught with `-Werror=implicit-function-declaration`. The invalid pointer is a pointer that has been truncated to 32 bits with the upper bit sign-extended to 64 bits. So it looks like you're missing `#include <net/if.h>`.

And indeed, here is your bug:

https://github.com/radvd-project

[2021-11-16 16:21] richfelker commented on #158
I can't find anything in the tracker about why the above wrong change was made, so to fix this you'll probably have to figure out what prompted that and solve it the right way. Ping me if it's not clear what to do and I'll be happy to look at it.

[2021-11-16 18:00] rpodgorny commented on #158
well, following the "git blame" leads to commit 46883f8a1a02fe42040dd8e48aec0ed871545d4d which has comment:

Allow building on musl
Signed-off-by: Matthew Thode <mthode@mthode.org>

[2021-11-16 18:02] rpodgorny commented on #158
so it seems matthew made it compile on musl but did not test it thoroughly during actual runtime...

[2021-11-16 19:27] jpds commented on #158
I just patched out those if/else lines on my gentoo/musl install, left `#include <net/if.h>` in place and it compiled and starts up fine.

Will see if radvd segfaults in the coming days.

[2021-11-18 06:31] robbat2 commented on #158
@prometheanfire ^^ this was your musl change, can you review and submit alternate options?

[2021-12-11 12:17] znerol opened #162 "Check MASTER/BACKUP of link-local addresses configured in AdvRASrcAddress"
In HA setups as outlined in [this post](https://fy.blackhats.net.au/blog/html/2018/11/01/high_available_radvd_on_linux.html), `radvd` is concurrently running on multiple routers. RAs are only sent out on an interface iff the link local address configured via `AdvRASrcAddress` is present on the specified interface.

This works well on Linux because Keepalived makes sure that the virtual link-local

[2021-12-12 09:38] jackyzy823 opened #163 "Make AdvRASrcAddress accept any link local addresses when net.ipv6.ip_nonlocal_bind=1"
current AdvRASrcAddress will only be used when matched one of valid link local addresses.

https://github.com/radvd-project/radvd/blob/b368cb98da5da44154994de573fea24b7c7858fc/device-common.c#L182

I hope that when sysctl `net.ipv6.ip_nonlocal_bind=1` is set, AdvRASrcAddress can directly set  iface->props.if_addr_rasrc whatever it is a valid link local addresses or not .

**Reason:**
It maybe a ra

[2021-12-15 06:43] robbat2 commented on #163
That's a creative solution, but I have a better suggestion, borrowed from HAProxy's `transparent` option:
Foreign sockets
IPV6_TRANSPARENT (Linux) / IP_FREEBIND (Linux,FreeBSD?) / IPV6_BINDANY (NetBSD,FreeBSD?) / SO_BINDANY (OpenBSD)

https://github.com/haproxy/haproxy/blob/6dfbef4145845a421e5d9301e26cbc7136d20965/src/sock_inet.c#L246-L267

This would be set as a configuration option, per-interfac

[2021-12-15 06:47] robbat2 commented on #162
Do you have good examples of how to check those flags in BSD? I'd never run into them before today.

It does strike me as a good extension to VRRP, making the kernel aware of the address state, but this would be BSD-specific changes to guard w/ ifdefs.

[2021-12-15 13:27] sjorge commented on #162
I actually found this issue today because I was trying to figure out how to get the failover node to not announce...

I'm not really a C or derivatives programmer but I was messing around with ppp_thing which is a PPPoE client that works over CARP that shares a session between nodes.

Not sure how useful this or if the BSD3-clause source license of ppp_thing is even compatible with radvd, but the

[2021-12-15 16:51] #158 closed

[2021-12-15 16:59] robbat2 commented on #162
That just tries to put routes via netlink and assumes if they succeed that it's using CARP and it's MASTER, which i'm not sure is safe.

[2021-12-15 17:55] znerol commented on #162
Disclaimer, I am not a BSD developer.. Please take the following analysis with a grain of salt.

Two steps are necessary to check the state of a given address.

1. Extract `ifi_vhid` from the `ifa_data` field of a given `struct	ifaddrs`. [Example](https://github.com/freebsd/freebsd-src/blob/373ffc62c158e52cde86a5b934ab4a51307f9f2e/lib/libifconfig/libifconfig_inet6.c#L101):
[code]
2. Compare that w

[2021-12-17 13:29] Neustradamus commented on #25
@robbat2: What do you think?

[2022-01-02 09:21] NeverBehave opened #165 "radvd refuse to run when using dynamic user"
When using systemd with dynamic user, radvd will generate the following logs:

[code]

It is believed to be cause by https://github.com/radvd-project/radvd/blob/bc34bf790c7441d75a1168abdf29eeeb4e87c18c/radvd.c#L871 where `getpwnam` will not find related entry

Related: https://www.freedesktop.org/software/systemd/man/systemd.exec.html#DynamicUser=

[2022-01-02 12:13] stappersg commented on #165
On Sun, Jan 02, 2022 at 01:21:19AM -0800, NeverBehave wrote:

Gutfeeling:
  that "error" is reproducable for any non-priviledge user,
  it is unrelated to dynamic user

[2022-01-07 13:53] nicdumz commented on #126
I would very much like this feature on my home network, and for what's it worth would consider contributing a reasonable moderate bounty in any shape of form appreciated, to get this FR implemented :wink:

[2022-01-08 00:16] stappersg commented on #126
On Fri, Jan 07, 2022 at 05:53:17AM -0800, Nicolas Dumazet wrote:

Just do it

[2022-01-08 11:28] broetchen commented on #25
similar issue here:
prefix configured for eth0 is announced on eth0.99 - that makes ipv6 on eth0.99 unuseable, no workaround known.

[2022-01-10 05:39] robbat2 commented on #25
I cannot reproduce this, even with the `ip6tables` command provided.

Running
`Linux bohr-int 5.14.5-x86_64 #88 SMP Fri Sep 17 22:30:09 PDT 2021 x86_64 AMD Ryzen 7 3700X 8-Core Processor AuthenticAMD GNU/Linux`

@broetchen can you please run the attached `setup.sh` script. It depends on the `teardown.sh` and `trigger.sh` scripts, and will create the dummy0 and tap42 devices for testing.
[setup.sh.

[2022-01-10 05:46] robbat2 commented on #165
What systemd script is this?

`-u` needs to be passed as a existant username used to drop privileges to. e.g. `nobody`

We could potentially modify it to optionally take `uid:gid` of numeric values to drop to rather than a named user.

[2022-01-10 06:00] robbat2 commented on #165
https://github.com/radvd-project/radvd/pull/166 fixes a related case, but still need info on how this is being used badly with systemd.

[2022-01-10 09:34] stappersg commented on #165
@NeverBehave Please share the  _systemd unit file you are using_ with this issue.

[2022-01-10 12:58] mm1ke commented on #25
Some more information what i could fine out regarding this issue.

In my case it seems like there were 2 problems at hand, one of which i could fix.

First the wlan clients (android, etc):
Initially i though that it might have something to do with the dhcp-client used by the clients. As mentioned my only laptop who uses `networkmanager` instead of openrc was also affected while the lan clients whe

[2022-01-10 13:04] broetchen commented on #25
after removing temporary switched off adv in config (so it does not announce a wrong addresse) radvd now does the correct advs. Cannot reproduce anymore :-/ sorry And to make it clear: no other changes were made. hmm

[2022-01-10 13:10] stappersg commented on #25
Thanks for reporting the _Cannot reproduce anymore_.

This issue now waits again for _how to reproduce information_.

[2022-01-11 03:14] NeverBehave commented on #165
In our previous setup, we set up root user and `-u radvd` to start the service. However, when we switch to our new setup, where radvd is started with low-privileged user, we forget to remove that from the ExecStart. We have tested that radvd works when starting directly under unprivileged user. I have attached the script as reference:

[code]

This is not a problem with radvd, and thanks for takin

[2022-01-11 03:14] #165 closed

[2022-01-11 04:49] robbat2 commented on #165
@NeverBehave Can we talk about how to be more meaningful there? `radvd` only needs some of those capabilities to start up, and then doesn't need them afterwards. Right now it implicitly drops caps when it does setuid, but in your case it won't end up dropping caps.

[2022-01-11 04:52] robbat2 commented on #25
@broetchen maybe you can still reproduce it, and capture good data?

My gut feeling is that what users have seen it actually a packet coming back from the switchgear, and that they didn't expect that. Plus `tcpdump` doesn't normally tell you which device & direction the packet was in, making it very easy to get confused.

The testing scripts I posted are very careful to log interfaces & packet dir

[2022-01-11 04:57] zhaofengli commented on #165
Am I understanding it correctly that radvd currently cannot drop capabilities with `capset`, only through `setuid`? It would mean that we have to launch it as root, allocate a global user for it to drop privileges to, and trust that it does drop the capabilities correctly.

[2022-01-11 16:32] mcr commented on #25
tcpdump -i any -e
will give you In/Out/Multicast tags, which can be useful here.  The Linux Cooked Header is, however, missing other fields.

[2022-01-17 21:21] robbat2 commented on #165
Yes, the code today doesn't use capabilities directly, only implicitly via setuid, specifically the details under `capabilities(7)`, sub-section `Effect of user ID changes on capabilities`

[2022-01-17 21:22] robbat2 opened #167 "radvd should support Linux capabilities for more fine-grained permissions dropping."
Followup to #165 where the users want to start radvd as non-root, and still have it further drop capabilities.

[2022-01-31 04:07] gtxaspec opened #168 "*Deny* prefix to specific clients"
Hello,

According to the radvd documentation, there exists a method to assign a prefix to specific clients, only.  I don't see a way to _**deny**_ specific clients only... is this a possibility under the current implementation?

Thanks

[2022-01-31 09:14] stappersg commented on #168
On Sun, Jan 30, 2022 at 08:07:25PM -0800, gtxaspec wrote:

What is the (deep) link to that statement?

[2022-02-01 04:53] robbat2 commented on #168
`radvd.conf(5)` does cover the `clients {}` block within the `interface <name> {}` block, but that does not permit specific prefixes per client. As documented here https://github.com/radvd-project/radvd/blob/master/radvd.conf.5.man#L107-L118

Normally, `radvd` operates in a broadcast/multicast mode, which does not use any client-specific addressing (a client might never transmit a router solicitat

[2022-02-20 21:31] robbat2 opened #173 "Bug: racount incremented during unicast, may cause less than intended multicast initial rtr adv"
`send_ra_forall` always increments racount, even if it's doing a unicast response: so if there is a unicast request during the initial period, the counter is incremented, and we might have sent less than the planned number of multicast ads.

Thread where the bug was discovered:
https://github.com/radvd-project/radvd/commit/2591d0189257caeaae2057dfed0a260310497a61#commitcomment-67099529

[2022-03-02 07:19] johnkisch opened #174 "radvd encounters segmentation fault on boot"
Hello,

I'm having an issue where the radvd daemon (version 2.19) encounters a segmentation fault when the daemon is started at boot time.

The system with this issue is running Alpine Linux 3.15:

[code]

_NOTE:_ Alpine Linux is based on the musl C Standard Library. Alpine Linux uses the OpenRC init system.

I was able to capture a coredump, the backtrace reads as follows:

[code]

After the syst

[2022-03-02 08:46] stappersg commented on #174
On Tue, Mar 01, 2022 at 11:19:36PM -0800, John Kisch wrote:

See if the OpenRC init system has something like

   start this proces after the network interfaces are up

Groeten
Geert Stappers
--
Silence is hard to parse

[2022-03-03 04:24] johnkisch commented on #174
OpenRC has a parameter that can be set in `/etc/rc.conf` called `rc_depend_strict` which essentially will not allow services that depend on `net` to start before all interfaces are up. I have the following configured in my `/etc/rc.conf`:

[code]

I still receive a segfault for radvd on boot with this set in /etc/rc.conf.

[2022-03-04 05:58] robbat2 commented on #174
- You didn't specify what version of radvd you're running at all.
- Can you easily try the tip of Git as well?
- is it using `netifrc` as well as `openrc`?
- If you add `rc_after=net.eth1` into `/etc/conf.d/radvd` does it start working? What about `rc_need=net.eth1`?

[2022-03-07 02:41] johnkisch commented on #174
Hi Robin,

Whoops, missed that! This is radvd version 2.19.

[code]

I'm using `ifupdown-ng` for interface configuration. Neither `rc_after=net.eth1` nor `rc_need=net.eth1` in `/etc/conf.d/radvd` work to resolve the issue, unfortunately.

I'll go ahead and give building directly from the repo a shot here and post an update once I do so.

Thanks!

[2022-03-19 17:24] robbat2 commented on #174
@johnkisch did the latest version work for you?

[2022-03-24 10:27] zhihuiyuze opened #175 "Specify source address for client"
Hi, there
   Is there any way to specify the source address for clients? Such as `from 2a0c:e640:101a::/64 via fe80::36f7:16ff:fec4:4e13 dev enp3s0`?

[2022-03-24 12:16] stappersg commented on #175
Please elaborate.

[2022-03-25 18:09] robbat2 commented on #175
If you're talking about the fe80::/64 selection, that decision is made entirely client side.

`radvd` cannot influence it.
Clients may have valid cases for using multiple link-local addresses, e.g. MAC rotation privacy, or CGA/SEND per RFC3972 & RFC3971.

Does that sufficiently answer your question?

[2022-03-26 12:32] zhihuiyuze commented on #175
Well, this is not the thing that I mean.

 I mean to advertise a 2 segment prefix, let the first segment go through GW1 and the second segment go through GW2.
 For example from 240e::/64 via GW2 and from 2a0c::1 via GW2.

I looked at the radvd example and it seems that RA can't do this? Maybe DHCPv6 can?

[2022-03-26 15:42] mcr commented on #175
RA can't do this. Nor can DHCPv6.
Each GW must advertise the prefixes they expect to forward.

[2022-03-29 02:31] robbat2 commented on #175
I don't quite follow what you mean.
Do you mean that you want to have two different prefixes on the same physical L2 segment, each with a different gateway?
Or just next-hop routes?

Either way, you need to run `radvd` on EACH of those gateways. That's the one thing you can't get around. RA protocol doesn't let you inject arbitrary routes that would go via another device.

In the config for GW1 &

[2022-04-02 15:11] zhihuiyuze commented on #175
Hi,
   I mean like this. I can't control the DHCPv6 server on TP-LINK, and I want to let the source address 240e::/64 go to TP-LINK
2a0c::/64 go to Linux router. but there are in the same physical L2 segment,

![1](https://user-images.githubusercontent.com/38281461/161389249-01bd2906-445a-4431-9162-e6900619ef02.png)

yes, I want prefix 240e::/6 and prefix 2a0c::/6 to have different next-hop

[2022-04-03 07:49] nopeno commented on #174
my alpine box has same problem. my config is:

--------- /etc/network/interfaces--------

auto    lo
iface   lo  inet loopback

allow-hotplug   wan0
auto    wan0
iface   wan0            inet static
        address         192.168.1.33
        netmask         255.255.255.0
        broadcast       192.168.1.255
        pre-up          /sbin/ip link set wan0 up
        up              ifup    ppp0=te

[2022-04-03 12:30] nopeno commented on #174
just now, it crashed againt. i found these in dmesg

[code]
it seems that radvd will crash when i change the bridge setting

[2022-04-03 15:56] PaulosV commented on #174
I'd say it's more general and it crashes whenever there is a change in network interfaces (adding, removing, changing settings...). One time I was removing some interfaces on the side, doing nothing to our bridges and yet, radvd still crashed.

[2022-04-04 18:06] robbat2 commented on #174
@PaulosV @nopeno were you using the latest master, or what specific version?

[2022-04-04 18:16] PaulosV commented on #174
In my case, Alpine Linux v3.15 with radvd version 2.19.
I will attempt running with master.

[2022-04-04 18:36] robbat2 commented on #175
Sorry, this isn't a `radvd` limitation, but the nature of the RouterAdv protocol itself.

You MUST have two daemons/services running there, one on each Router, advertising the blocks you want from the respective router.

If the PC is the only thing that needs it, I'd suggest static route configuration on the PC instead of using RouterAdv.

[2022-04-04 18:36] #175 closed

[2022-04-04 19:16] PaulosV commented on #174
Running with master seems to handle things fine.

With the 2.19 version in the packaging system, I have now got a command and a config file to reliably crash radvd:
[code]
Debug levels 2 and above trigger the crash.

This is the minimal file that triggers the crash:
[code]

[2022-04-05 00:31] nopeno commented on #174
me 2.

[2022-04-05 09:22] PaulosV commented on #174
@robbat2 I'll try to do the bisect later. I'm not very comfortable in gdb but I can probably do a core dump or extract some vars/registers if needed.

Also, I should have probably been clearer - when running in the foreground with high enough debug level (-d2 or -d3), radvd did not need any further convincing and crashed instantly during startup.

[2022-04-05 20:20] robbat2 commented on #174
@PaulosV
After you bisect to narrow it down, here's the easy way to drive gdb to convert the core to a backtrace:

`gdb-trace.sh`:
[code]

tee the output to a file, and it'll be good enough.

[2022-04-05 21:32] PaulosV commented on #174
Ok, so the issue was fixed by commit 06689f8c06f44c7e87f7ff1d814428f88375b53f.

[code]

The backtrace from tag v2.19: [radvd-bt-2.19.log](https://github.com/radvd-project/radvd/files/8422010/radvd-bt-2.19.log)

[2022-04-18 08:26] johnkisch commented on #174
Apologies for not getting back to this - life got in the way, etc.

I cloned latest on April 11th and rolled it into an apk package and installed. After giving a week of bake time, `radvd` has successfully started at boot time as expected every time I've tested. I think this issue has been resolved at this point.

[2022-04-18 08:39] PaulosV commented on #174
That is good to hear. I think, because the issue has quite a big impact and makes radvd downright unusable in some circumstances, it might make sense to backport that specific patch (06689f8c06f44c7e87f7ff1d814428f88375b53f) for Alpine and include it in the aports, so they can rebuild the package with the fix.

[2022-04-18 10:25] johnkisch commented on #174
Here's the MR in the aports repo for this:

https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/33358

[2022-05-01 12:40] cluck opened #176 ""interface not ready" on XFRM network interface (Linux, IPsec)"
There is a relatively new type of Linux network interface named "XFRM", that helps with directing network traffic to specific IPsec policies via routing, by "hiding" the policies behind such interfaces. This greatly simplifies VPN server configurations.

Unfortunately, radvd refuses to operate on such interfaces because it is fooled about the operational state of such an interface, because Linux r

[2022-05-01 12:42] cluck commented on #176
For the sake of verifying the issue, such an interface can easily be instantiated with iproute2: e.g. `ip link add ipsec1 type xfrm dev lo if_id 42`. In real scenarios, a software like strongSwan would install matching IPsec policies (`ip xfrm policy add SELECTOR dir DIR if_ID 42`); without it, traffic is just discarded.

[2022-05-03 04:56] robbat2 commented on #176
I'm not sure if you're seeing the same result that I am.

Can you please try to capture the debug output of the latest master, running `-d 5 -n`

As to what FRR is doing differently:
Can you please capture some of those FRR RAs? ideally with tcpdump, no truncation.
And please share ALL of the other configuration on the interface in the FRR system.
Ideally `ip addr show dev ...` to start with, and

[2022-06-06 06:34] gaoxingwang opened #177 "memory leak in kernel space because the memory registered by IPV6_ADD_MEMBERLAND is not released"
Hello, I found a problem.
When I use radvd of version 2.18 , after the process restarts or receives the sighup signal for multiple times , all ifaces are released, but only the user space memory is released. The mc memory registered with the ICMPv6 sock through IPV6_ADD_MEMBERSHIP is not released. Maybe I should add IPV6_DROP_MEMBERSHIP here to clean up resources, am I right?

radvd version：2.18
k

[2022-06-06 09:15] stappersg commented on #177
On Sun, Jun 05, 2022 at 11:34:35PM -0700, gaoxingwang wrote:

Patches (merge requests) will be reviewed.

Groeten
Geert Stappers
--
Silence is hard to parse

[2022-06-09 20:29] robbat2 commented on #177
@gaoxingwang this sounds like a kernel bug.

Can you share how you're measuring the kernel mc memory leaking?

The kernel should implicitly drop membership when the socket is closed due to process termination (the kernel should also be idempotent when adding membership, to not continue to grow).

[2022-06-10 02:44] gaoxingwang commented on #177
One day, we noticed this problem that the radvd was abnormal and the following alarm was reported:
![image](https://user-images.githubusercontent.com/26615073/172978244-59cfd02b-9284-4629-b340-03dd769b1833.png)

The ftrace command output shows that when the sendmsg returns -ENOBUFS, the function exits from sock_kmalloc, indicating that the memory is insufficient.
![image](https://user-images.githu

[2022-06-10 20:39] robbat2 commented on #177
Thanks, that's a fantastic bug report!

[2022-06-11 16:29] #177 closed

[2022-06-11 16:30] robbat2 commented on #176
@cluck ping?

[2022-08-06 15:42] wcbonner opened #182 "radvd exits on too many addresses in RDNSS section"
radvd exits silently when there are too many addresses in the RDNSS section. This is being used in ddwrt, which builds the radvd.conf file based on advertisments it gets from my upstream router and adds the DNS records I specify to what comes from upstream.

It would be nice if radvd either accepts an unlimited number of RDNSS entries or ignores any that are more than it deals with.

[code]

[2022-08-06 18:10] the-j0k3r commented on #182
@BrainSlayer

[2022-08-15 13:40] zenczykowski opened #185 "time to tag/release 2.20?"
in particular I'm interested in getting pref64 into fedora...

[2022-08-19 02:53] Neustradamus commented on #176
@cluck: Have you seen @robbat2 comments?

[2022-08-19 02:55] Neustradamus commented on #182
@robbat2, @stappersg: What do you think?

[2022-08-19 03:06] Neustradamus commented on #168
@gtxaspec: Have you seen @stappersg and @robbat2 comments?

[2022-08-19 03:09] Neustradamus commented on #25
@ all, do you reproduce this bug?
If yes, can you add logs?

[2022-08-19 03:12] Neustradamus commented on #126
@nicdumz: Have you progressed on your request?

[2022-08-20 11:47] nicdumz commented on #126
https://app.bountysource.com/issues/94033073-please-support-advertising-dynamic-ips-of-dns-servers-via-rdnss is up :-)

[2022-08-20 12:55] bl00mber commented on #126
@nicdumz does PR above implements feature you are requesting?

[2022-08-20 13:00] nicdumz commented on #126
@bl00mber above PR is for CoreRAD. (Arguably one could migrate from radvd to CoreRAD to get those features, true, but outside of the scope of this FR ;-) )

[2022-08-30 02:06] agowa338 commented on #185
Same. Also I'd like AdvCaptivePortalAPI to get into distros.

[2022-09-03 21:49] bmeirellesRJ opened #186 "[FEATURE REQUEST] Option "auto" for AdvValidLifetime and AdvPreferredLifetime"
Hi friends,

If possible, add the option "auto" for AdvValidLifetime and AdvPreferredLifetime.

this option is intended for use with dynamic prefix with short lease time assigned by some providers or connectivity issues

This option should read the time assigned to the ip by the dhcpv6 client and updated whenever the lease is renewed

to be used with the "deprecated prefix on" and "decrement lifet

[2022-09-06 15:55] robbat2 commented on #186
Can you expand on the intended behavior please?

- How should radvd identify which IP was assigned by DHCPv6 client? By client, by interface, some other way?
- Does this matter if there are multiple different links? (e.g. getting different RAs on different links on the host)
- Does it require integrations with specific DHCPv6 clients? Which clients?
- what logic should that `auto` have for lifetim

[2022-09-06 18:33] robbat2 commented on #182
Patch welcome to change `rdnss->AdvRDNSSAddr[123]` into an array or linked list instead of three addresses only.

The three addresses comes from earlier RFCs that have been superseded now.

[2022-09-06 19:33] robbat2 commented on #25
No response for 6 months, closing.

[2022-09-06 19:33] #25 closed

[2022-09-06 19:36] bmeirellesRJ commented on #186
How should radvd identify which IP was assigned by DHCPv6 client? By client, by interface, some other way?
radvd is capable of listening to interface and address changes.
https://github.com/radvd-project/radvd/blob/master/netlink.c#L210

    Does this matter if there are multiple different links? (e.g. getting different RAs on different links on the host)
Only when it is set to "auto"

    Does it

[2022-10-05 10:16] dpounraj opened #191 "Issue when radvd advertises the routes"
I have radvd running on my device which has MIPS arch.
versions : kernel 3.4.11-rt19 , radvd 1.8.5.

radvd is advertising /64 network to LAN clients.

The device also has to accept RA (IP address and default route) in routing mode on WAN side.
So, updated flags as below
/proc/sys/net/ipv6/conf/bdg1/accept_ra = 2
/proc/sys/net/ipv6/conf/bdg1/autoconf = 1

We make use of bdg interfaces by binding ph

[2022-10-05 10:43] stappersg commented on #191
On Wed, Oct 05, 2022 at 03:16:24AM -0700, BlackHacker wrote:

Seeing the 1.8.5 version number made me
check https://github.com/radvd-project/radvd/tags

Then after about six pages further
did https://github.com/radvd-project/radvd/tags?after=v1.9.6
tell me that  v1.8.5 is from the year 2012.

[2022-10-05 10:51] stappersg commented on #191
Which means:  _There is no reason to keep this issue open._

[2022-10-05 10:51] #191 closed

[2022-10-30 13:56] WenChao1Hou commented on #182
RFC 6106 recommended that the number of RDNSS addresses thatshould be learned and maintained through the RDNSS RA option should be limited to three. RFC 8106 removes that recommendation

The current number of radvd RDNSS ipv6 addresses is limited to 3

This MR(#193 )[https://github.com/radvd-project/radvd/pull/193] fix it

[2022-10-30 20:43] Neustradamus commented on #185
@robbat2, @stappersg: I think it is needed before Debian 12 freeze.

[2022-10-31 13:50] the-j0k3r commented on #182
@wcbonner just a heads up https://svn.dd-wrt.com/changeset/50755 on a revert related to your report.

Im sure when there is a proper solution here things will change downstream. Sadly cannot contribute here for that myself.

[2022-10-31 16:58] BrainSlayer commented on #182
@the-j0k3r i had to revert it. the patch was broken and not compilable

[2022-11-01 09:19] aalmenar commented on #185
I believe a new release is needed since the last one was more than two years ago. Pref64 being one of the lastest additions and some bug fixes.

[2022-11-01 12:51] Neustradamus commented on #182
@the-j0k3r, @BrainSlayer: @wcbonner has updated the PR.

Please comment on the PR...

[2022-11-01 14:33] the-j0k3r commented on #182
@wcbonner patch is merged downstream, next public build please test.

@Neustradamus will have feedback once hes done that.

[2022-11-01 14:38] wcbonner commented on #182
@the-j0k3r  I installed the build from 10/31/2022 yesterday. I'll look for another upgrade in the next day.

[2022-11-01 14:46] the-j0k3r commented on #182
It will by post r50786 yesterday wont have it

[2022-11-07 09:56] Mile-Lile commented on #182
@wcbonner
as a workaround you can use/advertise (RA) global address of the machine running radvd (wan ipv6 of the router)...

just copy your ipv6 from the ddwrt GUI and paste it to Static ipv6 dns on IPV6.asp... this will add RDNSS entries in radvd.conf
on Services.asp in Additional dnsmasq opstions add directives e.g.:

`
no-resolv
bogus-priv
strict-order
server=2a07:a9b1::
server=45.90.30.0
serv

[2022-11-07 10:21] the-j0k3r commented on #182
@Mile-Lile use the [dd-wrt topic](https://forum.dd-wrt.com/phpBB2/viewtopic.php?p=1269009#1269009l) on the issue to suggest workarounds in future.

[2022-11-07 10:35] Mile-Lile commented on #182
@the-j0k3r
what is your problem? you have not sucked any dicks lately or what?!

[2022-11-17 19:32] braewoods commented on #126
I'd be willing to give this a try. Is this still open?

That said, my review of this suggests that any solution needs a selection method that will know how to select the DNS address being advertised at runtime versus a static one specified in the configuration. My thinking is it could be the first address on the given interface that matches the chosen network address. And then a method to detect c

[2022-11-18 01:05] robbat2 opened #197 "CI: freebsd build broken"
FreeBSD CI is broken due to an upstream pytesseract change.

https://github.com/radvd-project/radvd/actions/runs/3492379772/jobs/5847921699
[code]

Need to bump CI build env to https://github.com/vmactions/freebsd-vm/releases/tag/v0.3.0

[2022-11-18 04:53] #197 closed

[2022-11-18 07:16] stappersg commented on #174
Did see https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/33358/diffs and do understand the _please do more as just git releases_.

[2022-11-18 18:37] corvus1 commented on #91
DeprecatePrefix in radvd 2.19 somehow just stops my entire v6 setup from working altogether. Maybe some automation for us dealing to dynamic prefixes? Like, just watching netlink and monitoring ip address changes, and hopefully deprecating the old prefix and start advertising the new one. And hopefully without needing to restart radvd.

[2022-11-26 06:04] robbat2 commented on #91
@corvus1 can you provide some detail about how it stopped your entire setup working?

[2022-11-26 08:35] corvus1 commented on #91
I'm really not sure what to look for. I added `DeprecatePrefix on` and then restarted ppp0 to provoke IP change. Everything looked normal on the surface, it's just no ipv6 traffic was going anywhere.

To get a better idea, I'd have to start `tcpdump`-ing things before and after and comparing them.

[2022-11-29 23:55] robbat2 commented on #91
Please do investigate it. Most likely it is something like clients were still using the old prefix for their source address, but that wasn't routable anymore.